@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Desperately seeking Susan (sorry, yield)</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 5 de Mayo de 2014</div>
        </div>

        <img src="~/images/madonna.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

        <p>
            A medida que pasan los años tras la crisis financiera, el concepto de represión financiera gana adeptos y el tiempo les da la razón. La represión financiera es una política monetaria diseñada para ayudar a los deudores. Es decir tipos cercanos al cero por muchos años y una disposición clara a usar herramientas no convencionales para evitar la deflación y/o recaídas en el crecimiento económico.
        </p>
        <p>
            En términos prácticos la represión financiera significa tipos sorprendentemente bajos en toda la curva de tipos y en todo el espectro de crédito. Todos los que han luchado contra esta tendencia desde el 2008 se han equivocado sin paliativos. Si uno piensa que la represión financiera va a seguir sin un punto claro de inflexión, las consecuencias son claras. Retornos más bajos a largo plazo y poca volatilidad en renta fija, una búsqueda cada vez más desesperada por rendimientos aceptables para el inversor y un escenario en bolsa donde los sectores más estables y con valoraciones de cash flow libres atractivas están baratos y los sectores más cíclicos pueden ser más susceptibles a decepciones recurrentes en el crecimiento económico.
        </p>
        <p>
            En Cartesio nos hemos equivocado sobre los tipos de interés de forma recurrente desde el 2010. Hemos optado por duraciones medias/bajas y siempre hemos tenido la opinión que a largo plazo los tipo de interés y la inflación deberían repuntar. Hemos ofrecido buenas rentabilidades porque hemos apostado por crédito corporativo con cupones altos (periferia, high yield, híbridos y deuda subordinada) que se han beneficiado de la política de represión financiera y un ciclo económico razonablemente benigno. También nos ha ayudado (en el contexto de Cartesio X) una exposición a bolsa de alrededor del 20%.
        </p>
        <p>
            En el 2014, un año más, la renta fija ha ofrecido hasta ahora buenas rentabilidades y los tipos y diferenciales de crédito vuelven a sorprender a la baja. Nos preocupan dos cosas. Primero que sigue entrando dinero en los fondos de renta fija, probablemente esperando rentabilidades del pasado que a futuro a largo plazo no van a ser posibles salvo en estructuras apalancadas o a base de asumir cada vez más riesgo de todo tipo: crediticio, de duración y de liquidez. Segundo, pensamos que los tipos y la inflación pueden subir a medio plazo y esta opinión creemos es cada vez más contraria al consenso.
        </p>
        <p>
            ¿Qué estamos haciendo en Cartesio X, nuestro fondo con un perfil de riesgo más parecido a la renta fija? Por un lado hemos subido algo la exposición a la renta variable y estamos dispuestos a asumir más riesgo en casos de correcciones significativas. Por el lado de renta fija estamos vendiendo emisiones a plazos cortos donde el coste de oportunidad de tener el dinero en liquidez es cada vez menor. Además seguimos activos a la hora de encontrar nuevas emisiones con tipos altos (en el entorno del 4-5%) y duraciones medias. Creemos que podemos cargar con una mochila más pesada de liquidez pero también con más peso en bolsa y una cartera de renta fija con rendimientos más atractivos. Aguantamos la tentación de buscar desesperadamente rendimientos más altos aunque no podemos decir que somos inmunes a la fuerza de la gravedad de la represión financiera. Si la renta fija se tuerce por tipos al alza o problemas de liquidez, no deberíamos tener mayores problemas. Si los diferenciales de crédito suben con fuerza o tenemos otra recesión/crisis financiera sufriremos. Si todo sigue igual: tipos y diferenciales a la baja y bolsas suavemente alcistas, seguiremos en Nirvana y deberíamos cerrar otro año con rentabilidades por encima de lo que esperábamos a priori a principios de año.
        </p>

        <p>
            <div class="ver_mas" style="text-align:right !important;"><a href="#CartesioXRentablididad">Ver Artículo</a></div>

        </p>

    </div>

</div>