
@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Las compañías holding: espejo de un ciclo bursátil maduro</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 12 de Junio de 2017</div>

        </div>

        <img src="~/images/companias-holding.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <p>
            Hay un tipo de activo en renta variable un poco arcano, poco analizado y, en general, controlado por accionistas mayoritarios que suelen ser grupos familiares. Nos referimos a compañías holding que cotizan en bolsa cuyo principal activo suelen ser otras compañías cotizadas. El ejemplo más conocido y antiguo en España es Corporación Financiera Alba, controlado por la familia March, y cuyo principal activo son participaciones accionariales en empresas como Indra, Acerinox, Ebro Foods etc. En el caso de Alba, el valor de su cartera en bolsa representa el 60% de su capitalización bursátil y ofrece un descuento sobre su NAV o valor neto de sus activos del 35%. En el mundo el holding más conocido y mejor valorado es Berkshire Hathaway, controlado por Warren Buffet una de las grandes fortunas del mundo.
        </p><p>
            Este tipo de vehículos siempre, o casi siempre, cotizan con un descuento respecto a su NAV por varios motivos: un inversor puede invertir directamente en sus participadas sin necesidad de pagar los gastos de estructura o invertir en una cartera diversificada que no comparte o está ahí por razones históricas; el accionista es minoritario y siempre hay cierto recelo sobre la alienación de intereses respecto al accionista de control que puede no tener como objetivo la creación de valor a largo plazo o tener un historial complejo respecto al trato a los minoritarios; el comportamiento del NAV a largo plazo puede haber sido relativamente pobre y el mercado exige un descuento; la liquidación de la empresa puede acarrear importantes cargas fiscales; puede no haber una política de asignación de capital clara respecto a la distribución de la caja generada por el holding.
        </p><p>
            La realidad es que, en nuestra experiencia, este tipo de holdings en Europa suelen cotizar con un descuento medio del 20% que se amplía a cerca del 40% en mercados bajistas y se reduce a niveles cercanos al 5% en mercados alcistas e incluso se convierte en prima sobre NAV ante la expectativa de movimientos corporativos como venta de participaciones con prima de control o de activos no cotizados donde había menos visibilidad sobre la valoración. Son un buen termómetro del optimismo/pesimismo reinante en los mercados y de su sobre o infravaloración. En la actualidad seguimos el descuento de alrededor de 15 holdings europeos que cotizan con un descuento medio del 6%, teniendo en cuenta el precio objetivo de consenso de las participadas (el Target NAV en la tabla). Este descuento es bajo y es una señal clara que no estamos en la parte más atractiva del ciclo bursátil desde el punto de vista de valoración. Por ejemplo, el año pasado compramos acciones de Investor AB, el holding controlado por la familia Wallenberg de Suecia, a nuestro juicio el mejor holding europeo con un historial impecable creación de valor y de alineación de intereses con los accionistas minoritarios. Lo compramos en 1Q2016 con un descuento del 32% y lo hemos vendido recientemente con un descuento del 6% sobre NAV. Al mismo tiempo, el NAV se revaluó un 18% por el buen comportamiento de sus participadas. Fue una inversión en la que obtuvimos una plusvalía del 52% en alrededor de doce meses. El descuento menos atractivo ahora es, además, sobre una valoración de sus participadas significativamente más alta que cuando compramos.
        </p><p>
            En las últimas semanas hemos visto como la actividad corporativa en el universo de holdings se ha acelerado, por ejemplo, con la fusión entre Dior y su participada LVMH en el sector de lujo. Con esta transacción la familia propietaria del conglomerado pasará a controlar directamente LVMH en una transacción que se ha llevado a cabo con un descuento sobre NAV mucho más bajo del que el mercado utilizaba para valorar a Dior, una compañía que además era de los holdings con mejor liquidez bursátil.
        </p><p>
            Es un ejemplo de como por cambios generacionales en las familias que controlan los holdings, o razones fiscales entre otros varios, con el tiempo muchos de estos holdings dejan de cotizar como tales como ha sido el caso de varias compañías en Italia, Suiza y Francia en los últimos años.
        </p><p>
            En la siguiente tabla resumimos los principales holdings que monitorizamos en Europa, aparte de los más conocidos en Iberia por todos como Alba o Sonae.
        </p><p>
            Como ultima curiosidad, destacar que las compañías holdings en USA, con un buen track record de rentabilidad que han sido capaces de crecer su NAV sostenidamente y dar retornos, combinando crecimiento de NAV y dividendos por encima de su coste de capital, suelen cotizar con prima sobre NAV. En Europa ni siquiera los holdings con mejor track record se acercan a estos niveles de valoración lo que históricamente ha atraído a inversores value americanos a invertir en holdings europeos.
        </p>

        <img src="~/images/holding-tabla.png" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
    </div>

</div>