@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Cartesio publica el informe GIPS</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 24 de Julio de 2014</div>
        </div>

        <img src="~/images/gips.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

        <p>
            <em>Cartesio, pionera en España en la publicación del informe GIPS® (Global Investment Performance Standards) de sus fondos de inversión.</em>
        </p>

        <p>
            <div class="ver_mas" style="text-align:right !important;"><a href="~/docs/InformeGIPS.pdf">Ver Informe</a></div>

        </p>


        <p>
            El pasado mes de Marzo, los fondos Cartesio cumplieron diez años desde su inicio. La transparencia es uno de los pilares de Cartesio y es por ello que hemos encargado la verificación GIPS de todos nuestros fondos y también lo publicamos. Somos pioneros entre las gestoras de fondos españolas en la publicación del informe GIPS de sus fondos.
        </p>
        <p>
            ¿Qué son los GIPS? Son los datos de rentabilidad de un fondo o familia de fondos presentados de acuerdo con las normas internacionales de medición y presentación de resultados de inversión (Global Investment Performance Standards) publicados por el CFA Institute, la asociación global de referencia de profesionales de la inversión conocida en todo el mundo por el título de CFA y por los GIPS. Los GIPS permiten un análisis de rentabilidad del fondo antes y después de comisiones y gastos y su comparación con el índice de referencia relevante. Además muestran la volatilidad del producto y del índice de referencia. El informe GIPS es certificado por una firma independiente, normalmente una empresa de auditoria (Deloitte en el caso de nuestro informe), aprobada por el CFA Institute. Un informe GIPS se realiza normalmente para fondos con un mínimo de cinco años de historia y debe incluir todos los fondos de la gestora.
        </p>
        <p>
            Los GIPS se calculan para el agregado en su conjunto, es decir todos los fondos que siguen la misma estrategia, y por tanto tienen en cuenta el peso específico de los fondos con estructuras de comisiones más altas.
        </p>
        <p>
            Como es bien sabido, Cartesio sólo tiene dos estrategias de inversión, cada una con dos fondos. Uno domiciliado en España y el otro en Luxemburgo, el primero con una parte de la comisión de gestión ligada al resultado de la gestión y el otro con una comisión de gestión fija. Los GIPS que publicamos recogen el resultado de cada estrategia con los fondos que la componen en cada momento de su historia.
        </p>
        <p>
            Los GIPS son importantes porque certifican unos resultados de inversión y porque permiten mostrar el peso de las comisiones y gastos de forma totalmente transparente. Las rentabilidades de nuestros dos fondos, netas de gastos y comisiones, han sido buenas y superiores a los índices de referencia y además con menos volatilidad. Podemos decir que nos hemos ganado las comisiones pagadas. Creemos que es importante para el sector de la gestión de fondos de inversión y, sobre todo, para sus clientes que las entidades se adhieran a los GIPS y que publiquen los resultados.
        </p>


    </div>

</div>