@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}


<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">El euro no se rompe. ¿Acto de fe o acto racional?</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 28 de Mayo de 2012</div>
        </div>

        <img src="~/images/el-euro-no-se-rompe.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

        <p>
            Desde que empezó la llamada “crisis del Euro” a principios del 2010, hemos mantenido una línea de pensamiento y actuación basada en tres principios fundamentales. Primero, cualquier apoyo o financiación a los países con problemas va a ser condicional, es decir a cambio de reformas y ajustes. Estos ajustes serían duros pero inevitables y con efectos negativos en la actividad económica a corto plazo. Segundo, a la hora de invertir en los países periféricos había que hacerlo a través de crédito, principalmente de empresas con deudas asumibles y por tanto solventes y evitando deuda pública, especialmente en Grecia, Irlanda o Portugal. Esta opción implica mayor riesgo que invertir en créditos más seguros de países o empresas del norte de Europa pero pensamos que a largo plazo también mucha más rentabilidad. Tercero, el Euro no se rompe porque el coste de romperlo es infinitamente superior para todos que llegar a soluciones creíbles y sostenibles en el tiempo.
        </p>
        <p>
            Los dos años largos que llevamos de “crisis del Euro” y los últimos acontecimientos nos han dado la razón en la condicionalidad de cualquier financiación o apoyo y ha estado claro que ha sido mucho mejor invertir en crédito corporativo que en bolsa de los países periféricos. Sin embargo el crédito seguro de países y empresas del norte de Europa ha pasado de caro a carísimo y por tanto ha obtenido una rentabilidad alta con poca volatilidad mientras las dudas sobre el Euro no han hecho mas que aumentar con el paso del tiempo y en las últimas semanas la sensación en el mercado es de que el tiempo se agota y hemos llegado a un punto sin retorno (posible salida de Grecia, fuga de depósitos, solvencia de la banca española, tipos de deuda pública Alemana cercanos al cero).
        </p>
        <p>
            Está claro que la zona euro no está funcionando en esto momentos como debería una verdadera unión monetaria. Si bien las carencias estaban claras desde el inicio, no había unión fiscal y diferencias importantes en productividad y competitividad entre los países miembros, los desequilibrios acumulados en sus más de diez años de historia y las tensiones de los últimos dos años son prueba de que el entramado político y financiero de la unión monetaria tiene que reformarse. Las tensiones más recientes ponen sobre la mesa la necesidad urgente de llegar a una solución final que incluya unión fiscal (total o parcial asunción de deuda pública por todos los países de la unión monetaria) y supervisión bancaria y fondo de garantía de depósitos supranacional. El apoyo del principal acreedor de la Unión Europea, Alemania, es clave para que estas medidas se puedan llevar a cabo. Es perfectamente racional para Alemania apoyar estas medidas. Ha sido el país Europeo que a la larga se ha beneficiado más de la Unión europea y le da la oportunidad de imponer su exitoso modelo de reformas y austeridad al resto de Europa. Que estas medidas se tomen y por tanto que tengamos una Unión monetaria que combine austeridad y reformas indispensables con una sostenibilidad en el tiempo no es una acto de fe. Debería ser la decisión racional a la que deben llegar las autoridades políticas y monetarias para evitar algo muy parecido a una depresión y pánico además de echar por la borda el proceso de construcción y cooperación Europea de los últimos 60 años. Hay algunos que dicen que en absoluto sería un drama romper el Euro y que se puede gestionar un desmantelamiento ordenado y que a la larga el Euro no ha funcionado y su fin sería el principio de una recuperación en los países del sur de Europa. Esperamos que no haya que hacerlo para demostrarles que no tenían razón.
        </p>
    </div>
</div>