@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">¿La economía lidera el mercado o viceversa? El caso por el viceversa y lo que implica</h1></p>
            <br /><br /><br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 17 de Mayo de 2013</div>
        </div>

        <img src="~/images/cartesio-fondos-de-inversion.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <p>
            En una mente Cartesiana como la nuestra, uno está programado para pensar que los mercados no son más que el reflejo diario de mucho ruido a corto plazo mientras que a largo plazo reflejan fielmente la evolución de las variables macro y de los beneficios y flujo de explotación de las empresas. Supongo que esto es lo que dice la teoría, el sentido común y es la conclusión políticamente correcta.
        </p>
        <p>
            El problema es que existe un lado oscuro en nuestra  mente y en nuestra experiencia que tiende a demostrarnos lo contrario  sobre todo en la capacidad del mercado para influenciar  la economía y las decisiones de los agentes económicos. El tamaño relativo de los mercados financieros a la economía real es como nunca antes en la historia debido sobre todo a la enorme expansión del crédito (al sector público y privado) en el sistema de moneda fiduciaria bajo el que vivimos desde el siglo XX y el impacto de la desregulación y la tecnología en los mercados.
        </p>
        <p>
            ¿Hubiera sido posible la burbuja de crédito sin unos mercados y reguladores  empeñados en reducir los niveles de capital del sistema bancario hasta mínimos y a través de productos complejos? Probablemente no. ¿Hubiera sido posible evitar una catástrofe financiera en el 2008 sin la acción decidida de los bancos centrales y sus fortísimas inyecciones de liquidez? Probablemente tampoco. Los fundamentales del sector inmobiliario y financiero  fueron “acelerados”  hasta su muerte por un tsunami de deuda y, al mismo tiempo, fueron resucitados de un colapso seguro por una liquidez sin límites de los bancos centrales. De la misma manera, los mercados hicieron posible muchos de los excesos de la burbuja de internet y su derrumbe dejo muy pocos pero claros ganadores. ¿Se está ahora generando una burbuja en renta fija en general al prometer los bancos centrales tipos cercanos al cero durante mucho tiempo para evitar un escenario a la Japonesa,  intentando que la distorsión de los tipos reales lleve a decisiones más proclives al consumo y la inversión y sea más llevadera la pesada carga de la deuda? Probablemente también.
        </p>
        <p>
            Este “análisis”, si es que se merece ese nombre, te lleva a la conclusión, un tanto perversa,  que son los propios mercados, liderados por el efecto de las políticas expansivas de los bancos centrales, los que van a conseguir eventualmente una recuperación de la economía. Como el proceso de militancia monetaria y expansión fiscal está más retrasado en Europa, al mismo tiempo que los mercados están más baratos y la economía más deprimida, la apuesta más sensata y más agresiva para sacar partido a la teoría de que son los mercados los que mueven la economía y no viceversa, es comprar bolsa Europea.  Como mínimo, debería ser el activo de riesgo mejor parado en caso de que esta teoría sea simplemente una peligrosa profecía. Nuestra mente cartesiana se muestra reacia a aceptar esta teoría sin reservas, por eso seguimos comprando algo de protección en la medida que el mercado sigue subiendo y nuestra cartera tiene un comportamiento mejor que el mercado.
          </p>


    </div>
</div>