@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Cartesio – Premio Expansión-Allfunds al Mejor Equipo Gestor Nacional</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 13 de Marzo de 2015</div>
        </div>

        <img src="~/images/premio-expansion.png" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

        <p>
            Hemos recibido el premio Expansión-Allfunds al Mejor Equipo Gestor Nacional. Es una alegría porque un premio siempre es un reconocimiento (totalmente inesperado en nuestro caso) y además viene concedido por un jurado de prestigio e independiente. También nos alegra porque el premio es al equipo, siempre hemos dicho que en Cartesio las decisiones se toman por el equipo de gestión de forma que evitar el error del otro es tan importante como el acierto de uno. Somos tres gestores con los mismos intereses y éstos están totalmente alineados con los de los partícipes porque todo nuestro patrimonio está invertido en los fondos que gestionamos. Gestionar en equipo durante once años no es fácil pero creemos dice algo sobre el esquema de incentivos que tenemos en Cartesio y, quizá, las pocas ganas de protagonismo de cada uno de nosotros.
         </p>
        <p>
            Por último queremos agradecer a Expansión-All funds y al jurado la concesión de este premio, nos ponen el listón muy alto y sólo esperamos poder seguir haciendo lo mismo de los últimos once años.
        </p>

    </div>

</div>