@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">¿Qué nos dijo Draghi ayer?</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 6 de Junio de 2014</div>
        </div>

        <img src="~/images/draghi.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

        <p>
            La tierra ya puede seguir dando vueltas alrededor del sol. Draghi desveló sus nuevas armas monetarias que tenían al mercado en un animado suspense. Las medidas del BCE revelan una clara preocupación por la falta de crecimiento de crédito en la eurozona y que está dispuesto a volar por los aires cualquier obstáculo de precio o cantidad para que el crédito fluya a la economía real. También hay un mensaje, menos explícito, de que el BCE no está dispuesto a tolerar un Euro más fuerte y que tiene más armas guardadas en el arsenal.    
           </p>
        <p>
            En la medida que la solvencia de los bancos está mejorando y la demanda de crédito se recupera, lo lógico es que las medidas del BCE sean positivas para la recuperación económica. En general detectamos, tanto por parte del BCE como de los políticos europeos, un posicionamiento mucho más agresivo respecto al crecimiento y menos énfasis en reformas, consolidación fiscal etc. Hay una realidad sociopolítica (nuevos tendencias políticas, descontento social) y una realidad económica (baja inflación, alto desempleo, recuperación desigual) que están galvanizando a un BCE que no tiene más remedio que poner toda la carne en el asador ante la inoperancia/impotencia de las políticas fiscales. Las medidas son sólo condicionales a que el dinero se preste de verdad. Muy bueno para la bolsa, bueno para la renta fija con rendimiento atractivo (queda poco) y esperamos sea también bueno para la economía real y no sólo la financiera.   
          </p>
     

        <p>
            <div class="ver_mas" style="text-align:right !important;"><a href="#CartesioXRentablididad">Ver Artículo</a></div>

        </p>

    </div>

</div>