@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Cartesio X, alternativa conservadora sin complejos…</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 29 de Abril de 2013</div>
        </div>




        <p>
            Los tipos ofrecidos por los bancos en sus depósitos están bajando al mismo tiempo que, en general, los activos de riesgo mantienen una evolución positiva. Además, curiosamente, la crisis de Chipre ha servido para que los ahorradores españoles se den cuenta que un buen fondo de inversión conservador puede ser más “seguro” que un depósito y además más rentable. Siempre hemos dicho que un depósito no es una inversión y que las campañas agresivas de captación por parte de los bancos suelen coincidir con momentos en los que comprar activos de mayor riesgo suele ser la opción más rentable.
        </p>
        <p>
            En la medida que el ahorrador español se sale de los depósitos, éste va buscando fondos con una historia larga y probada de gestión del riesgo en momentos difíciles pero que ofrezcan una rentabilidad atractiva a largo plazo, algo muy difícil de conseguir. En ese sentido nos gusta ver que Cartesio X está cada vez más recomendado por asesores independientes y se hace hueco en las carteras de fondos dominados por fondos de gestoras internacionales como podemos ver en este <a href="http://www.finanzas.com/noticias/mercados/fondos-inversion/20130426/fondos-daran-guerra-depositos-2293728.html" >artículo</a> de la revista Inversión & Finanzas.
        </p>

        <img src="~/images/cartesio-x-blog.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


    </div>
</div>