<style>
    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

        ul.pagination li {
            display: inline;
        }

            ul.pagination li a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
                border: 1px solid #ddd;
            }

                ul.pagination li a.active {
                    background-color: #0085b2;
                    color: white;
                    border: 1px solid #0085b2;
                }

                ul.pagination li a:hover:not(.active) {
                    background-color: #ddd;
                }

    div.center {
        text-align: center;
    }
</style>

@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}



<div id="cambiar_contrasena" class="wrapper">
    <h1><img src="/images/slider.jpg" alt="Cartesio X"></h1>



    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada34"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">España el reino de los garantizados – Por Martín Huete</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 6 de Febrero de 2014</div>

        <img src="~/images/timo-banco.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                Nos ha gustado el siguiente artículo publicado por Martín Huete y reproducido en Fundspeople donde explica el fenómeno de los fondos garantizados en España. Quién gana, quien deja de ganar y porqué a los bancos les gustan tanto. Lectura indispensable antes de comprar un fondo garantizado.
            </p>
            <p>
                <div class="ver_mas" style="text-align:right !important;"><a target="_blank" href ="https://www.fundspeople.com/gente/martin-huete-7830/EnBlog/por-que-a-los-bancos-les-ha-interesado-que-espana-sea-el-reino-de-los-fondos-garantizados-32524">Ver artículo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada33"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">¿Qué nos dijo Bernanke ayer?</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 19 de Diciembre de 2013</div>

        <img src="~/images/bernanke.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                Sigue la política de “whatever it takes”. En otras palabras, la FED va a seguir poniendo toda la carne en el asador para que siga mejorando el desempleo, incluyendo el subempleo, y no tiene ningún problema con la inflación que cree va a seguir baja. Los objetivos de inflación y desempleo se convierten en umbrales para darse más flexibilidad si cabe a la hora de mantener una política monetaria acomodaticia y asegurarse una recuperación económica sólida y sostenible. Riesgos: que las cosas vayan mucho mejor antes de lo esperado en empleo y, por el contrario, peor de lo esperado y antes en inflación (más alta). No parece ser el escenario base de los integrantes de la FED. 
            </p>
            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada33">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada32"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Marea de Bolsa</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 7 de Noviembre de 2013</div>

        <img src="~/images/marea-de-bolsa-imagen.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                Artículo publicado en el número de Octubre de 2013 de la revista Fundspeople.
            </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="~/docs/Marea-de-Bolsa.pdf">Ver artículo completo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada31"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Más reflexiones transántlanticas…</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 23 de Agosto de 2013</div>

        <img src="~/images/mas-reflexiones-trassatlanticas.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                Son ya cerca de tres meses desde nuestra visita a Nueva York sobre la que escribimos en nuestro post de Junio New York, New York…. Creemos es un buen momento para subrayar dos temas que surgieron en aquel viaje y que comentamos en parte, con algunas lecciones relevantes en el entorno de mercado actual europeo. 
            </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada31">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada30"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">El péndulo cambia: de la crisis del Euro a Europa va bien…</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 20 de Agosto de 2013</div>

        <img src="~/images/el-pendulo-cambia-cartesio-inversiones.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                Aquellos clientes/lectores que hayan seguido nuestros blogs del año pasado (“El Euro no se rompe, ¿acto de fe o acto racional?” Mayo 2012; “Career risk” Juno 2012; “A Spaniard in Geneva” Junio 2012; “Bolsa y crédito español se divorcian…por poco tiempo” Junio 2012) recordarán que eran momentos de pánico periférico y donde nuestra testaruda pero muy trabajada posición sobre el Euro y el riesgo crediticio periférico nos permitió cosechar excelentes resultados de inversión el año pasado que nos acompañan también en lo que va de año. Es bueno volver a recordar que en la gestión muchos creen que los buenos resultados van siempre asociados a una buena compra. </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada30">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada29"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Españoles maniaco-depresivos…</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 9 de Julio de 2013</div>

        <img src="~/images/espanoles-maniaco-depresivos.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                Fue triste ver llegar a la selección española tras su derrota en la Copa Confederaciones en Brasil. Habían llegado a la final, no habían jugado mal en el torneo y es básicamente la misma selección que nos ha hecho sentir que estamos en otro planeta. Sin embargo los jugadores prácticamente huían de la poca gente y periodistas que les estaban esperando. Parece que hemos pasado de estar “on top of the world” a ser un equipillo que tiene que esconderse ante su “estrepitoso fracaso”.    
             </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada29">Seguir leyendo</a></div>

            </p>

        </div>

    </div>
    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada28"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">New York, New York…</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 14 de Junio de 2013</div>

        <img src="~/images/cartesio-wall-street.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                Hemos estado una semana en NYC, encerrados en un rascacielos con vistas al Hudson revisando tendencias e ideas de inversión con analistas y estrategas de nuestra antigua casa, esa de un tal señor Morgan y otro Stanley. La ciudad está que revienta de actividad, la verdad es que salvo unos meses después de los atentado del 2001 siempre nos ha parecido que la crisis simplemente sobrevuela NYC pero nunca aterriza. Es la capital del mundo y suena, se siente y se ve como  capital del mundo. El hecho que un altísimo porcentaje de películas y series que marcan nuestra cultura tengan escenas neoyorkinas hace que en la capital del mundo, el mundo se sienta  a gusto y en terreno familiar.     
            </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada28">Seguir leyendo</a></div>

            </p>

        </div>

    </div>
    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada27"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">¿La economía lidera el mercado o viceversa? El caso por el viceversa y lo que implica</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 17 de Mayo de 2013</div>

        <img src="~/images/cartesio-fondos-de-inversion.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                En una mente Cartesiana como la nuestra, uno está programado para pensar que los mercados no son más que el reflejo diario de mucho ruido a corto plazo mientras que a largo plazo reflejan fielmente la evolución de las variables macro y de los beneficios y flujo de explotación de las empresas. Supongo que esto es lo que dice la teoría, el sentido común y es la conclusión políticamente correcta.
              </p>
            <p>
                El problema es que existe un lado oscuro en nuestra  mente y en nuestra experiencia que tiende a demostrarnos lo contrario  sobre todo en la capacidad del mercado para influenciar  la economía y las decisiones de los agentes económicos. El tamaño relativo de los mercados financieros a la economía real es como nunca antes en la historia debido sobre todo a la enorme expansión del crédito (al sector público y privado) en el sistema de moneda fiduciaria bajo el que vivimos desde el siglo XX y el impacto de la desregulación y la tecnología en los mercados. 
            </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada27">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada26"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Cartesio X, alternativa conservadora sin complejos…</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 29 de Abril de 2013</div>

        <div>
            <p>
                Los tipos ofrecidos por los bancos en sus depósitos están bajando al mismo tiempo que, en general, los activos de riesgo mantienen una evolución positiva. Además, curiosamente, la crisis de Chipre ha servido para que los ahorradores españoles se den cuenta que un buen fondo de inversión conservador puede ser más “seguro” que un depósito y además más rentable. Siempre hemos dicho que un depósito no es una inversión y que las campañas agresivas de captación por parte de los bancos suelen coincidir con momentos en los que comprar activos de mayor riesgo suele ser la opción más rentable.
            </p>
            <p>
                En la medida que el ahorrador español se sale de los depósitos, éste va buscando fondos con una historia larga y probada de gestión del riesgo en momentos difíciles pero que ofrezcan una rentabilidad atractiva a largo plazo, algo muy difícil de conseguir. En ese sentido nos gusta ver que Cartesio X está cada vez más recomendado por asesores independientes y se hace hueco en las carteras de fondos dominados por fondos de gestoras internacionales como podemos ver en este <a href="http://www.finanzas.com/noticias/mercados/fondos-inversion/20130426/fondos-daran-guerra-depositos-2293728.html">artículo</a> de la revista Inversión & Finanzas.
            </p>

            <img src="~/images/cartesio-x-blog.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

        </div>

    </div>


    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada25"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Nueve años de Cartesio…</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 8 de Abril de 2013</div>
        <img src="~/images/cartesio-comienzos.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                El 31 de Marzo del 2013 Cartesio y sus dos fondos han cumplido nueve años. El que seamos una pequeña empresa que le ha tocado vivir dos terceras partes de su vida bajo la sombra alargada de la crisis, hace que tengamos cierta tendencia a celebrar los cumpleaños como una forma de pellizcarnos y comprobar de que efectivamente seguimos vivos y coleando.
            </p>
            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada25">Seguir leyendo</a></div>

            </p>
        </div>

    </div>





    <br /><br /><br />

    <div class="center">
        <ul class="pagination">
            <li><a href="/EnBlog/index">«</a></li>
            <li><a href="/EnBlog/index">1</a></li>
            <li><a class="active" href="/EnBlog/index2">2</a></li>
            <li><a href="/EnBlog/index3">3</a></li>
            <li><a href="/EnBlog/index3">»</a></li>
        </ul>
    </div>


</div>
