<style>
    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

        ul.pagination li {
            display: inline;
        }

            ul.pagination li a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
                border: 1px solid #ddd;
            }

                ul.pagination li a.active {
                    background-color: #0085b2;
                    color: white;
                    border: 1px solid #0085b2;
                }

                ul.pagination li a:hover:not(.active) {
                    background-color: #ddd;
                }

    div.center {
        text-align: center;
    }
</style>

@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}




<div id="cambiar_contrasena" class="wrapper">
    <h1 ><img src="/images/slider.jpg" alt="Cartesio X"></h1>

    
    <div class="content">
        <a href="/EnBlog/Entrada44"><h1>Fondos Cartesio: 2 entre 20.000</h1></a>

    <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 25 de Julio de 2017</div>

    <img src="~/images/blog1.png" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
    <div>
        <p>
            Artículo de Funds People en el que se destaca que de los 20.000 fondos de inversión registrados para su venta en España, sólo hay dos fondos de gestoras españolas con el rating GOLD de Morningstar. Los fondos Cartesio (X e Y). De hecho, al incluir en la lista de 18 fondos con ranking GOLD la réplica en Luxemburgo de nuestros fondos, en realidad Cartesio gestiona cuatro de los dieciocho fondos con rating GOLD comercializados en España.
        </p>
        <p>
            El artículo explica que la importancia de un rating GOLD radica en que es un buen predictor del comportamiento del fondo a futuro, más allá del rating cuantitativo de estrellas MORNINGSTAR.
        </p>
        <p>
            <a href="https://es.fundspeople.com/news/fondos-banados-en-oro-de-los-que-se-espera-que-generaran-alfa-d1bb466b-f95b-42dc-9380-be685796ba26">Más Información</a>

        </p>

    </div>

</div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada43"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Las compañías holding: espejo de un ciclo bursátil maduro</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 12 de Junio de 2017</div>

        <img src="~/images/companias-holding.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>Hay un tipo de activo en renta variable un poco arcano, poco analizado y, en general, controlado por accionistas mayoritarios que suelen ser grupos familiares. Nos referimos a compañías holding que cotizan en bolsa cuyo principal activo suelen ser otras compañías cotizadas.</p>
            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada43">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada42"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Comunicado Cartesio – Deuda Senior Novo Banco</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 30 de Diciembre de 2015</div>

       <div>
            <p>
                El Banco de Portugal hizo pública anoche una resolución sin precedentes por la que se transfiere una parte de la deuda senior de Novo Banco SA (el banco “bueno” resultante de la intervención del antiguo Banco Espirito Santo en Julio de 2014) al Banco Espíritu Santo (BES) o banco “malo”. Este comunicado se hizo público después de aparecer por la tarde rumores en la prensa y tras la suspensión, pendiente de la publicación de información relevante, de la negociación de los valores de Novo Banco por la CMVM portuguesa.
            </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="~/docs/comunicado-cartesio-deuda-senior-novo-banco-sa.pdf">Ver todo el Comunicado</a></div>

            </p>

        </div>

    </div>


    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada41"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">CARTESIO X – El mixto defensivo más rentable a largo plazo</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 13 de Julio de 2015</div>
        <img src="~/images/cartesio-x-expansion.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

        <div>
            <p>
                Nos hacemos eco del artículo publicado por el Diario Expansión el pasado 13 de Julio. En el mismo se reproduce una tabla con los fondos en la categoría Mixtos Defensivos Euro de gestoras españolas con la mejor rentabilidad en la última década, así como a cinco y tres años.
            </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada41">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada40"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Cartesio – Premio Expansión-Allfunds al Mejor Equipo Gestor Nacional</h1></p></a>


        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 13 de Marzo de 2015</div>
        <img src="~/images/premio-expansion.png" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <div>
            <p>
                Hemos recibido el premio Expansión-Allfunds al Mejor Equipo Gestor Nacional. Es una alegría porque un premio siempre es un reconocimiento (totalmente inesperado en nuestro caso) y además viene concedido por un jurado de prestigio e independiente.
            </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada40">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada39"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Cartesio publica el informe GIPS</h1></p></a>


        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 24 de Julio de 2014</div>
        <img src="~/images/gips.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <div>
            <p>
                <em>Cartesio, pionera en España en la publicación del informe GIPS® (Global Investment Performance Standards) de sus fondos de inversión.</em>
            </p>

            <p>
                <div align="center" class="ver_mas"  style="text-align:right !important;"><a href="~/docs/InformeGIPS.pdf">Ver Informe</a></div>

            </p>

            <p>
                El pasado mes de Marzo, los fondos Cartesio cumplieron diez años desde su inicio. La transparencia es uno de los pilares de Cartesio y es por ello que hemos encargado la verificación GIPS de todos nuestros fondos y también lo publicamos. Somos pioneros entre las gestoras de fondos españolas en la publicación del informe GIPS de sus fondos.   
                </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada39">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada38"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">¿Qué nos dijo Draghi ayer?</h1></p></a>


        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 6 de Junio de 2014</div>
        <img src="~/images/draghi.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <div>

            <p>
                La tierra ya puede seguir dando vueltas alrededor del sol. Draghi desveló sus nuevas armas monetarias que tenían al mercado en un animado suspense. Las medidas del BCE revelan una clara preocupación por la falta de crecimiento de crédito en la eurozona y que está dispuesto a volar por los aires cualquier obstáculo de precio o cantidad para que el crédito fluya a la economía real. También hay un mensaje, menos explícito, de que el BCE no está dispuesto a tolerar un Euro más fuerte y que tiene más armas guardadas en el arsenal.
            </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada38">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada37"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Desperately seeking Susan (sorry, yield)</h1></p></a>


        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 5 de Mayo de 2014</div>
        <img src="~/images/madonna.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <div>

            <p>
                A medida que pasan los años tras la crisis financiera, el concepto de represión financiera gana adeptos y el tiempo les da la razón. La represión financiera es una política monetaria diseñada para ayudar a los deudores. Es decir tipos cercanos al cero por muchos años y una disposición clara a usar herramientas no convencionales para evitar la deflación y/o recaídas en el crecimiento económico.
            </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada37">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada36"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Gestión de fondos española… ¡agua!</h1></p></a>


        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 3 de Marzo de 2014</div>
        <img src="~/images/hucha-rota.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <div>
            <p>
                <strong>Nos ha parecido muy interesante el siguiente artículo escrito por Juan M. Casadevall, Socio de Kessler & Casadevall AF y publicado en Vozpópuli, en el que explica la situación del sector de la gestión de fondos en España.</strong>
            </p>

            <p>
                Esta será nuestra primera entrada sobre el tema de la gestión de fondos española. Toca por tanto una introducción que sitúe donde se encuentra el sector en estos momentos y las razones que lo explican. Pues bien, la situación es paupérrima y sólo les voy a dar dos hechos muy diferentes que así lo ponen de relieve.
            </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada36">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/EnBlog/Entrada35"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Cartesio Y premiado como mejor Fondo Flexible Euro en 2014 por Morningstar</h1></p></a>


        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 7 de Febrero de 2014</div>
        <img src="~/images/morningstar.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <div>
            <p>
                Ayer, día 6 de Febrero de 2014, en el Hotel Villamagna tuvo lugar la ceremonia de entrega de los Premios Morningstar 2014. El objetivo de los Premios Morningstar es elegir aquellos fondos, planes de pensiones y entidades gestoras que más valor han aportado a los partícipes no sólo durante el año 2013 sino también en los últimos cinco años.

            </p>

            <p>
                Los Premios Morningstar son premios anuales, pero no están basados exclusivamente en la rentabilidad obtenida en el año 2013. <strong>
                    La metodología
                </strong>
                sobre la que se fundamentan los Premios Morningstar tiene una doble vertiente.
            </p>

            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/EnBlog/Entrada35">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="center">
        <ul class="pagination">
            <li><a href="#">«</a></li>
            <li><a class="active" href="/EnBlog/index">1</a></li>
            <li><a  href="/EnBlog/index2">2</a></li>
            <li><a href="/EnBlog/index3">3</a></li>
            <li><a href="/EnBlog/index2">»</a></li>
        </ul>
    </div>



</div>	