<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Más reflexiones transántlanticas…</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 23 de Agosto de 2013</div>
        </div>

        <img src="~/images/mas-reflexiones-trassatlanticas.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

       
          <p>
              Son ya cerca de tres meses desde nuestra visita a Nueva York sobre la que escribimos en nuestro post de Junio New York, New York…. Creemos es un buen momento para subrayar dos temas que surgieron en aquel viaje y que comentamos en parte, con algunas lecciones relevantes en el entorno de mercado actual europeo.
          </p>
        <p>
            Vinimos con la convicción de que la economía americana estaba fuerte y con bases sólidas para seguir sorprendiendo o por lo menos con pocas probabilidades de decepcionar. Así mismo nos llamó la atención la eficiencia del mercado americano (analistas, inversores, consejos, directivos) para realmente conseguir en plazos razonables la alineación de intereses entre accionistas y equipos gestores. Si el mercado americano ofrece una rentabilidad a largo plazo superior al europeo u otros mercados no creemos que sea porque la economía americana crezca más, sino porque el capitalismo allí funciona mejor y se asigna capital y se toman decisiones sobre equipos directivos que redundan en favor del dueño del capital que asume más riesgo con su dinero: los accionistas.
        </p>
        <p>
            Los analistas no hablaban mucho de macro porque francamente no estaban muy preocupados y certificaban el ciclo alcista de la economía americana. Sin embargo, algo que no comentamos en Junio es el hecho que a los analistas les costaba ver mucho potencial de subida en sus empresas en general. Tres meses más tarde el mercado americano apenas se ha movido y es posible que bastante de las buenas noticias económicas americanas estuvieran ya descontadas a corto plazo. En Europa, sin embargo, vemos algo distinto. Analistas e inversores están muy escocidos con falsas recuperaciones y olas sucesivas de crisis periféricas. Aunque las valoraciones de sectores/empresas más cíclicas en Europa están baratas suponiendo una recuperación económica más o menos sostenida, vemos poca fe y por tanto mayor oportunidad en Europa para invertir en una recuperación económica que está por llegar y en la que pocos creen de verdad. No debemos olvidar que el Shiller P/E (PER de la media de beneficios de los últimos diez años ajustados por inflación) está barato en Europa y caro en USA.
        </p>
        <p>
            La bolsa está para favorecer una mejor asignación de recursos, en beneficio último de los accionistas, y para ello una parte importante de su cometido consiste en recompensar o castigar equipos directivos que ayudan a conseguir ese objetivo. Este es un tema que ya repasamos con un énfasis especial en España (blog de Agosto 2012 Desgobierno corporativo). De todas formas es llamativo que no hay un CEO americano que haya hecho perder mucho dinero a sus accionistas por errores claros en la gestión (invirtiendo en el pico con deuda, desinvirtiendo en la parte baja del ciclo, estrategia errónea etc) y siga ahí. Nos vienen a la cabeza la barrida de CEOs en el sector financiero americano pero también cambios en compañías tan variopintas como Pfizer, HP, JC Penney, Ford, General Motors, Yahoo. El caso de Ford es especialmente llamativo, un CEO descendiente directo del fundador y con un paquete accionarial significativo que decide dimitir y dar paso a otro CEO al ver que su labor no iba por el buen camino. En Europa hay grandes compañías en el sector financiero, materiales o de utilities donde los equipos directivos siguen intactos a pesar de un comportamiento pésimo de la acción y a la vista de decisiones pasadas a todas luces erróneas. Es más, algunos hasta se permiten el lujo de dar lecciones magistrales en foros públicos. ¿Qué falla en Europa? Posiblemente un poco de todo: consejos poco críticos e independientes, inversores institucionales pasivos o que son parte del sistema (gestoras de grandes bancos/aseguradoras), una cultura más deferencial y menos crítica con el poder. Al final, el tiempo y el mercado pone a todos en su sitio y no hay mal que cien años dure, pero la capacidad de malos gestores Europeos para aferrarse al cargo e infligir abultadas pérdidas a sus accionistas es algo que no nos deja de sorprender. Exagerando un poco podríamos hablar de castas ejecutivas protegidas, el caso del “salotto buono” en Italia, los “énarques” en Francia o los “intocables” del IBEX en España (salvo honrosas y conocidas excepciones). La llegada reciente de inversores activistas, algunos americanos, a empresas Europeas como Danone o Vivendi y la influencia cada vez mayor de grandes fondos que priman el buen gobierno corporativo son buenas noticias y a lo mejor señal de que algo empieza a cambiar en Europa. ¡Ojalá!
        </p>
    </div>

</div>