<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">A Spaniard in Geneva…</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 11 de Junio de 2012</div>
        </div>

        <img src="~/images/cartesio-geneva.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

        <p>
            We were in Geneva visiting fellow Swiss fund managers. We felt a bit like a Greek fund manager doing a roadshow in Frankfurt but we expected that anyway. Spain is the pits and from my in-laws in Ecuador to my friends from my university days in the UK, that look of compassion tinged with apprehension has become all too familiar. Never mind our exposure to Spain is practically non-existent in one of our funds and restricted to quality credits (difficult to convince about Spanish quality in Geneva these days) in the other.
        </p>
        <p>
            We confirmed that bearishness is rife but we were surprised to see so much fear. A client told us about a Swiss institutional account giving instructions to sell everything and willing to lock in guaranteed negative returns in short term Swiss debt, guaranteed to be even more negative after management fees. Why not put the money on deposit with a Swiss bank? The Swiss institution was scared of its own banks! For a second we felt incredibly brave, patriotic and stupid with our money in our bank accounts back home.
        </p>
        <p>
            It was Buffett who said that about being greedy when others are fearful etc. Geneva was as pleasant and reassuringly expensive as usual but its financial guardians were as bearish and scared as never before. Be greedy and buy Europe. Or as Steve Jobs said Stay hungry. Stay foolish…and run some career risk. We are doing it.
        </p>

    </div>
</div>