<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Explota otra burbuja: los incentivos, que no son tales, para gestores</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 14 de Septiembre de 2012</div>
        </div>

        <img src="~/images/incentivos.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <p>
            Fingimos sorpresa al leer en el FT un artículo sobre un informe de Lipper que llega a la conclusión  que los fondos de inversión con comisión de éxito obtienen rentabilidades menores y con más volatilidad que los fondos con comisiones fijas. El argumento a favor de la comisión de éxito en los fondos es que hace coincidir los intereses de gestores e inversores y son un incentivo para que los gestores obtengan rentabilidades altas. Nuestros fondos tienen comisión de éxito, además de tener los socios/gestores todo su patrimonio invertido en los mismos. Los fondos han tenido un gran comportamiento y creemos que nuestros incentivos nos han ayudado a gestionar mejor.
        </p>
        <p>¿Qué es lo que no funciona? El nivel abusivo de las comisiones (fijas y de éxito) de los fondos con comisión de éxito. Esto no lo dice el informe, lo decimos nosotros. En los fondos con comisión de éxito  suele juntarse una comisión fija elevada (1-2%) y otra de éxito entre elevada (10%) y confiscatoria (20%).  Los fondos Cartesio tienen una comisión fija del 0,5% (Cartesio X) y 0,75% (Cartesio Y) con una de éxito para los dos fondos del 7,5%.
         </p>
        <p>
            Con una comisión fija elevada, el incentivo de la comisión de éxito se reduce e incentiva al gestor a concentrarse más en  aumentar la masa patrimonial del fondo y menos en la rentabilidad del mismo. La comisión de éxito alta puede llevar al “gambling for resurrection”. Es decir, es tan importante para el gestor la potencial ganancia por la comisión de éxito que le puede llevar a tomar riesgos excesivos, si le sale bien se hace millonario si le sale mal ya sabemos… “los mercados… quién podía esperar esto… invertí en lo que creía era mejor”,  pero eso sí, la pingüe comisión fija se queda con el gestor. Es verdad que los fondos suelen tener una “marca de agua”  que tienen que recuperar para poder cobrar la comisión de éxito pero de hecho esto puede hasta intensificar la tendencia al “gambling for resurrection” si la comisión de éxito es alta. Tomar riesgos excesivos para volver a la marca de agua puede ser rentable bajo este esquema de comisiones.
        </p>
        <p>
            El nuestro es un negocio donde las comisiones las paga el partícipe y las cobra el gestor. Ceteris paribus, mayores comisiones significan menor rentabilidad para el partícipe y a largo plazo el peso de las comisiones en la rentabilidad es enorme. Si el esquema de comisiones, además,  proporciona unos incentivos malos, el problema se magnifica.
        </p>

        <p>
            El extremo mas nocivo en la estructura de comisiones de los fondos lo representan los hedge funds con su estructura de 2% fija y 20% de comisión de éxito. Con una rentabilidad (antes de comisiones) del 10%, por ejemplo, el gestor se lleva el 40% de la rentabilidad y el cliente un 60%. Dos amigos listos, muy listos, montan un hedge con €100m (una cifra muy asequible para instituciones/actores con algo de pegada en nuestra industria) y con un 10% de rentabilidad antes de comisiones, algo no muy difícil de conseguir en un año aleatorio en los mercados financieros, se embolsan €4m.  No es de extrañar que ésta estructura de comisiones esté en desuso, sobre todo porque los hedge funds en general han ofrecido rentabilidades muy decepcionantes en los últimos años y han cobrado comisiones muy altas.
        </p>

        <p>
            El informe de Lipper apunta que ahora sólo el 3% de los fondos de inversión en el Reino Unido tienen comisión de éxito. El número de fondos nuevos con comisión de éxito se ha reducido en casi un 90% respecto a su nivel del 2008/9. Otra burbuja ha explotado pero cuidado porque todavía se vende por ahí.
        </p>

    </div>
</div>