<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">New York, New York…</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 14 de Junio de 2013</div>
        </div>

        <img src="~/images/cartesio-wall-street.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <p>
            Hemos estado una semana en NYC, encerrados en un rascacielos con vistas al Hudson revisando tendencias e ideas de inversión con analistas y estrategas de nuestra antigua casa, esa de un tal señor Morgan y otro Stanley. La ciudad está que revienta de actividad, la verdad es que salvo unos meses después de los atentado del 2001 siempre nos ha parecido que la crisis simplemente sobrevuela NYC pero nunca aterriza. Es la capital del mundo y suena, se siente y se ve como  capital del mundo. El hecho que un altísimo porcentaje de películas y series que marcan nuestra cultura tengan escenas neoyorkinas hace que en la capital del mundo, el mundo se sienta  a gusto y en terreno familiar.
        </p>
        <p>
            Pero esto no va de NYC. Va de las impresiones generales de unos inversores europeos tras unos días intensos de reuniones con gente americana supuestamente bien informada y conectada. La economía americana va bien y parece que va a seguir yendo bien. Los bancos, la Fed, la política fiscal, una extraordinaria lotería energética y un capitalismo algo salvaje pero que funciona son los pilares de la recuperación. Por primera vez en muchos años nadie nos habla de países emergentes. Ha sido un viaje de apple pie, cowboys y rascacielos. The US is back.
        </p>
        <p>
            Los americanos son gente  práctica que toman decisiones prácticas y rápidas y además las toman pocas personas. Los bancos se capitalizaron rápido y sin contemplaciones, barrieron consejos de administración, se liquidó lo que hizo falta y forzaron a todos a capitalizarse así lo necesitasen o no. La correa de transmisión monetaria en Estados Unidos es más lenta de lo normal porque la economía sigue en un proceso de reducción de deuda pero en absoluto está rota. Los bancos están prestando. Y luego está Ben. Éste sí que es de los que “whatever it takes” y nadie le chista o le cuestiona. Se dio cuenta que el sector inmobiliario era clave para recuperar el balance de los bancos y el sentimiento del consumidor y ha centrado su fuego monetario en apoyarlo, jugando además con la ventaja de un mercado líquido, sin obstrucciones de los bancos,  que había puesto el valor del activo por debajo de su nivel fundamental. No se trataba de apoyar artificialmente al activo sino evitar que se entrara en un espiral deflacionista con nefastas consecuencias para el balance de los bancos y la confianza del consumidor. Lo ha conseguido.
        </p>
        <p>
            Luego están los políticos trabajando más o menos coordinados con la Fed. En USA saben que eso de que ahorren al mismo tiempo el sector público, el privado y que la economía crezca no puede ser y además es imposible. Han dejado que el déficit público soportase en una primera etapa el mayor ahorro del sector privado y sólo cuando parece que la economía repunta hacen una consolidación fiscal medianamente agresiva. También es verdad que el sector público nos parece un pelín más serio, de fiar y responsable ante los ciudadanos que los de algunos países europeos.
        </p>
        <p>
            También les ha tocado la lotería energética. En parte se la han ganado porque la tecnología para el shale gas es totalmente Made in USA y además es un país grande, capitalista y práctico donde el medio ambiente puede ser supeditado a consideraciones más rentables o patriotas. Sea como fuere el boom energético en USA es un hecho y están disfrutando de precios del gas que son una tercera parte de los de Europa y precios del petróleo un 20% mas baratos. Y no tiene pinta de que esto se dé la vuelta pronto. En el mundo  que vivimos el crecimiento económico es todavía intensivo en energía  y si ésta es más barata la ventaja competitiva en muchas industrias es clara y el ahorro para el bolsillo del consumidor también.
        </p>
        <p>
            Por último el espíritu capitalista. No vamos a hacer aquí una oda al capitalismo americano. ¡Por Dios, somos Europeos! Sí nos ha llamado la atención sin embargo, escuchando a los analistas y leyendo memorias de compañías, que los equipos gestores de las compañías americanas están ahí para ganar dinero y hacer ganar mucho dinero a sus accionistas. Es verdad que en la crisis financiera o en casos como Enron ha primado lo primero (Europa no es ajena a estos casos) pero en general uno se queda con la impresión que todas las decisiones de asignación de  capital van encaminadas a que el accionista gane dinero. Si no lo hace, los gestores saben que no durarán mucho. Esto puede efectivamente llevar a decisiones miopes que favorezcan el corto plazo, pero en un mercado tan sofisticado y capitalista como el americano los accionistas en general se dan cuenta cuando esto ocurre. La bolsa Americana no lo hace mejor que la Europea a largo plazo porque la economía vaya mejor o peor, simplemente sus compañías se gestionan por equipos directivos que se sienten dueños del capital  y quieren hacerse ricos a ellos mismos y a los otros dueños. En Europa está probado que las compañías con gestión y propiedad familiares en general son mejores inversiones que las compañías donde hay un problema de agencia entre accionistas y equipos gestores (ver nuestro blog sobre Desgobierno Corporativo), en USA este problema de agencia el mercado lo minimiza.
        </p>
        <p>
            The US is back. Los analistas en Europa siguen con su letanía de emergentes etc. USA es un país con un mercado interno enorme y dinámico donde una buena compañía, idea o producto puede explotar y luego exportarse al resto del mundo. Además USA va bien y francamente los analistas e inversores parecen más interesados en las oportunidades que ofrece una resurgente USA que perder mucho tiempo con oportunidades en países lejanos y remotos. Los americanos siempre han sido un poco así (Spain? Massachusetts?) pero ahora quizá con más razón que antes.
        </p>

    </div>
</div>
