
<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">España el reino de los garantizados – Por Martín Huete</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 6 de Febrero de 2014</div>
        </div>

        <img src="~/images/timo-banco.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

        <p>
            Nos ha gustado el siguiente artículo publicado por Martín Huete y reproducido en Fundspeople donde explica el fenómeno de los fondos garantizados en España. Quién gana, quien deja de ganar y porqué a los bancos les gustan tanto. Lectura indispensable antes de comprar un fondo garantizado.
        </p>
        <p>
            <div class="ver_mas" style="text-align:right !important;"><a target="_blank" href="https://www.fundspeople.com/gente/martin-huete-7830/blog/por-que-a-los-bancos-les-ha-interesado-que-espana-sea-el-reino-de-los-fondos-garantizados-32524">Ver artículo</a></div>

        </p>
    </div>

</div>