<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Desgobierno corporativo…</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 14 de Septiembre de 2012</div>
        </div>

        <img src="~/images/desgobierno-corporativo.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <p>
            En  gran parte de las  grandes compañías cotizadas españolas hay un problema grave de lo que los economistas llaman “problema de agencia”. Es el conflicto de interés inherente a cualquier relación donde  se espera que una parte actúe en el mejor interés de la otra pero donde los intereses pueden no ser coincidentes. Es un problema recurrente en la gran empresa cotizada con una base accionarial dispersa y que no se implica ni en el gobierno corporativo ni en la gestión de la empresa y simplemente se limita a votar comprando y vendiendo acciones. El problema es que el agente (léase consejo de administración/alta dirección) que se supone debe tomar las  decisiones  en el mejor interés del propietario (léase accionistas) tiene unos incentivos o intereses que pueden ser diferentes de los del propietario. 
         </p>
        <p>
            En España este problema puede ser más importante que en otros países por la falta de inversores institucionales independientes con posiciones importantes a largo plazo en el capital de las empresas. No es siempre una casualidad que en las empresas de mayor éxito a largo plazo, dentro y fuera de España,  haya una implicación fuerte del accionista de referencia o de control en la gestión y el consejo de administración. Inditex es la historia de éxito que todos conocemos pero fuera de España empresas como Schindler, Kone, Investor (Familia Wallenberg), America Movil (Carlos Slim),  Berkshire Hathaway (Warren Buffett)  o incluso, fuera de bolsa, IKEA o las Mittelstand alemanas son buenos ejemplos en este sentido. En España también hay ejemplos de empresas cotizadas con un historial sólido de creación de valor a largo plazo y donde la propiedad se implica en la gestión/gobierno corporativo. En todos estos casos el problema de agencia se ha reducido  porque el agente y el propietario coinciden en gran medida. Los incentivos están bien puestos y como dice el socio de Buffett, Charlie Munger, son los incentivos los que explican mejor el comportamiento de la gente.
        </p>
        <p>
            No es una casualidad que el peor sector a largo plazo hayan sido los bancos, empresas “sin dueño” donde el incentivo era crecer apalancando el balance y tomando riesgos excesivos y de esa manera aumentar la cuenta de resultados, la remuneración del consejo/alta dirección  y si las cosas no salían bien, como de hecho no han salido, no pasa absolutamente nada. Los directivos por lo general se han pagado en sueldos múltiplos de su posición en acciones, casi siempre construida a través de planes de “stock options” y nunca compradas, y además convencen a los gobiernos de que hay que salvar al sector y ahí siguen con una remuneración desfasada bajo cualquier punto de vista y si no siguen, han sido ampliamente recompensados al salir de la institución para la que han trabajado y han dejado maltrecha.
        </p>
        <p>
            Un ejemplo egregio del problema de agencia en España lo hemos vivido con las cajas de ahorro. En los bancos privados por lo menos hay cierta presión del mercado y competencia en la alta dirección que puede ayudar a contener el problema de agencia. En las cajas se ha combinado una mala gestión con un problema de agencia enorme ya que los supuestos propietarios (sector público en el sentido amplio y difuso del término) sentían las cajas como propias en el sentido de maximizar su base de poder/influencia sin ningún tipo de criterio económico o creación de valor para la caja como entidad con ánimo de lucro. Este sentimiento parece haberse extendido a los consejos y la alta dirección hasta límites insospechados.
        </p>

        <p>
            Por último hay que admitir que incluso cuando los incentivos parecen estar bien puestos, con una alineación fuerte entre la dirección/consejo y los accionistas, no es razón suficiente para estar a salvo de malas decisiones empresariales. El caso de grupos inmobiliarios/constructores españoles familiares es un buen ejemplo en este sentido.
        </p>

        <p>
            Bajemos a lo concreto. Hemos analizado con la ayuda de las memorias y Bloomberg la evolución del  BPA, Valor Contable por Acción, rentabilidad total del accionista y remuneración total del consejo desde 2007 hasta  2011 de Banco Santander, BBVA, Telefónica, Repsol, Iberdrola e Inditex. Juntos representan el 71% del IBEX y bastante más en capitalización bursátil,  ya que Inditex vale en bolsa un 25% más que Telefónica pero pesa un 30% menos en el IBEX al tener un free float menor. Hemos agrupado los cinco primeros y hemos dejado aparte a Inditex porque su evolución ha sido diametralmente opuesta a la de los cinco primeros. Haciendo una media simple de SAN, BBVA, TEF, REP e IBE obtenemos los siguientes resultados. Inditex es la excepción que confirma la regla en todos los sentidos.
        </p>

        <img src="~/images/tabla.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <p> <a>Fuente: Bloomberg, Memorias Anuales</a></p>

        <p>
            Una tabla puede valer mil palabras. Los consejos de administración del IBEX (ex Inditex) necesitan aplicarse el cuento de los ajustes a la vista de los resultados cosechados que por cierto no incluyen la caída (subida en el caso de Inditex)  de beneficios y de cotización acumulada en lo que va de 2012. Por último es conveniente señalar que la remuneración total no incluye los compromisos adquiridos por pensiones que como hemos podido constatar los últimos años pueden ser el grueso de la remuneración de los altos ejecutivos.
        </p>

    </div>
</div>