<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Gestión de fondos española… ¡agua!</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 3 de Marzo de 2014</div>
        </div>

        <img src="~/images/hucha-rota.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

        <p>
            <strong>Nos ha parecido muy interesante el siguiente artículo escrito por Juan M. Casadevall, Socio de Kessler & Casadevall AF y publicado en Vozpópuli, en el que explica la situación del sector de la gestión de fondos en España.</strong>
        </p>
        <p>
            Esta será nuestra primera entrada sobre el tema de la gestión de fondos española. Toca por tanto una introducción que sitúe donde se encuentra el sector en estos momentos y las razones que lo explican. Pues bien, la situación es paupérrima y sólo les voy a dar dos hechos muy diferentes que así lo ponen de relieve. La primera es que llevamos años calculando datos agregados de la industria doméstica versus la industria internacional u otras industrias europeas. Consistentemente, las comisiones medias y las rentabilidades medias para categorías de inversión homogéneas dejan en muy mal lugar a la industria local. Si entramos en la estructura de la industria se pone de manifiesto la falta de productos de valor añadido. (Ver blog de Martín Huete)    
           </p>
        <p>
            La segunda es que como especialistas en selección de fondos que no tenemos ninguna restricción (en contraposición a la habitual en la industria) nuestra amplia lista de fondos recomendados apenas tiene unos pocos nombres nacionales. El 95% son fondos internacionales. El origen de las gestoras norteamericano, francés, inglés, suizo, alemán…
        </p>
        <p>
            ¿Porqué? Pues al menos encuentro tres razones/culpables por la que estamos en esta situación respecto a los países de nuestro entorno:
        </p>
        <p>
            1- La banca y sus políticas de distribución de productos financieros. En 2014 es directamente imposible o extraordinariamente difícil adquirir alguno de los pocos fondos de calidad españoles de gestoras como Cartesio, March Gestión o Bestinver por ejemplo a través de un banco o entidad financiera española. Sin embargo, sí es posible comprar el fondo de la última boutique de gestión extranjera y por supuesto el producto caro y malo de su propia gestora. Escandaloso. No sólo eso sino que en países como nuestros vecinos franceses o ingleses es normal que se promueva el talento potencial de nuevos proyectos de gestión a través de seed money puesto por unidades de los grandes bancos, inversiones institucionales o por las redes de asesores independientes. Aquí todo son puertas cerradas y crecer y alcanzar una mínima masa crítica para una gestoras independiente nueva es una proeza.
        </p>
        <p>
            2- Las autoridades. Se pasan diez años para aprobar una sencilla medida (las llamadas cuentas ómnibus) que hubiera permitido la salvaguardia de información comercial sensible de los distribuidores de fondos. Obligan a producir ingentes cantidades de información legal en lugar de simplificarla para poner de relieve para el partícipe por ejemplo si las comisiones que se le están cobrando y las rentabilidades obtenidas son adecuadas. Se gastan cientos de millones de euros en campañas de concienciación variopintas pero nada para formar e informar al público sobre buenas prácticas financieras. Ponen pegas sobre nimiedades y se les cuelan estafas financieras. En las escuelas insólitamente no existen materias sobre educación y planificación financiera que introduzcan conceptos básicos y claves como la relación entre riesgo y rentabilidad. Se han venido dedicando a subvencionar productos financieros como los depósitos a plazo en lugar de tratarlo como lo que es, un préstamo o deuda financiera con sus riesgos aparejados, luego no existen incentivos para la toma de responsabilidad sobre el ahorro y el patrimonio.
        </p>
        <p>
            3- El público, que después de varias décadas de desarrollo de un sector financiero (y aún reconociendo que llevamos décadas de retraso con respecto a Estados Unidos por ejemplo) todavía son capaces de ‘tragarse’ con facilidad pasmosa cualquier fondo que le coloque delante el comercializador de turno. Que sigue sin cuestionarse conceptos básicos ni preocuparse de verdad por su ahorro. Que sigue pensando que invertir y ahorrar es comprar el último ‘chicharro’ de bolsa y la automedicación. Que sigue sin saber el coste de invertir, etc.
        </p>
        <p>
            Otra gestión española es posible donde las grandes entidades financieras tienen gestoras potentes que buscan competir con las grandes a nivel internacional y donde las boutiques especializadas de calidad surgen y se desarrollan rápidamente a nivel nacional e internacional también. En positivo, sobre ese futuro posible, realizaremos entradas en las próximas semanas y meses.
        </p>


    </div>

</div>