<style>
    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

        ul.pagination li {
            display: inline;
        }

            ul.pagination li a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
                border: 1px solid #ddd;
            }

                ul.pagination li a.active {
                    background-color: #0085b2;
                    color: white;
                    border: 1px solid #0085b2;
                }

                ul.pagination li a:hover:not(.active) {
                    background-color: #ddd;
                }

    div.center {
        text-align: center;
    }
</style>

<div id="cambiar_contrasena" class="wrapper">
    <h1><img src="/images/slider.jpg" alt="Cartesio X"></h1>

    <br /><br /><br />

    <div class="content">
        <a href="/Blog/Entrada24"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Entrevista en la revista Inversión</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 5 de Febrero de 2013</div>

        <img src="~/images/entrevista-juan-antonio-betran.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                Una reciente  entrevista a Juan Antonio Bertrán publicada en la revista Inversión en la que hablamos de inversiones, el Euro y el posicionamiento de Cartesio  dentro de la industria de gestión en España.
            </p>
            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="#PDF">Haz click Aqui para descargar PDF</a></div>

            </p>

        </div>

    </div>
    <br /><br /><br />

    <div class="content">
        <a href="/Blog/Entrada23"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">La renta fija ya es fija…</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 25 de Enero de 2013</div>

        <img src="~/images/renta-fija.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                Las tres últimas décadas han sido muy buenas para la renta fija en general. Cada parte del mercado de renta fija ha tenido su momento más o menos estelar pero en general ha habido varios factores que explican su buen comportamiento. La fuerza de unos tipos de intervención a la baja hasta llegar al cuasi cero actual, una inflación a la baja hasta estabilizarse en niveles de alrededor del 2% en distintos regímenes de crecimiento económico o de precio de las materia primas, la crisis de crédito unida al envejecimiento de la población y cambios regulatorios en las compañías de seguros/fondos de pensiones ha producido demanda casi forzada de rendimientos “seguros” en detrimento de activos de riesgo como la renta variable casi con independencia de la valoración de ésta última. En los últimos  dos/tres años la renta fija pisó el acelerador y ha dado rentabilidades muy altas a los inversores partiendo de cupones o rendimientos iniciales cada vez más bajos. Se ha convertido en una fuente de plusvalías y no tanto de cupones, algo más típico de la bolsa en mercados alcistas.
            </p>
            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/Blog/Entrada23">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/Blog/Entrada22"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Explota otra burbuja: los incentivos, que no son tales, para gestores</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 14 de Septiembre de 2012</div>

        <img src="~/images/renta-fija.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                Fingimos sorpresa al leer en el FT un artículo sobre un informe de Lipper que llega a la conclusión  que los fondos de inversión con comisión de éxito obtienen rentabilidades menores y con más volatilidad que los fondos con comisiones fijas. El argumento a favor de la comisión de éxito en los fondos es que hace coincidir los intereses de gestores e inversores y son un incentivo para que los gestores obtengan rentabilidades altas. Nuestros fondos tienen comisión de éxito, además de tener los socios/gestores todo su patrimonio invertido en los mismos. Los fondos han tenido un gran comportamiento y creemos que nuestros incentivos nos han ayudado a gestionar mejor. 
            </p>
            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/Blog/Entrada22">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/Blog/Entrada21"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Desgobierno corporativo…</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 9 de Agosto de 2012</div>

        <img src="~/images/desgobierno-corporativo.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                En  gran parte de las  grandes compañías cotizadas españolas hay un problema grave de lo que los economistas llaman “problema de agencia”. Es el conflicto de interés inherente a cualquier relación donde  se espera que una parte actúe en el mejor interés de la otra pero donde los intereses pueden no ser coincidentes. Es un problema recurrente en la gran empresa cotizada con una base accionarial dispersa y que no se implica ni en el gobierno corporativo ni en la gestión de la empresa y simplemente se limita a votar comprando y vendiendo acciones. El problema es que el agente (léase consejo de administración/alta dirección) que se supone debe tomar las  decisiones  en el mejor interés del propietario (léase accionistas) tiene unos incentivos o intereses que pueden ser diferentes de los del propietario.
            </p>
            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/Blog/Entrada21">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/Blog/Entrada20"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Bolsa y crédito español se divorcian… por poco tiempo</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 28 de Junio de 2012</div>

        <img src="~/images/bolsa-y-credito.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                Estamos asistiendo este Junio de la Eurocopa a una divergencia muy fuerte entre la evolución de la bolsa Española, un 9% arriba, y el crédito, deuda pública y en especial corporativa, que está con diferenciales en máximos  respecto al bono alemán y en CDS. Como ejemplo vemos que el CDS  de  cinco años de Telefónica está en 558 bps, máximo histórico, y su bono cotiza al 7% (5% a finales de Mayo) mientras la acción ha subido un 9% en el mes. Es verdad que la bolsa española o Telefónica llevan arrastrando caídas muy superiores durante más tiempo y que el mercado está empezando a descontar un posible rescate de España con tipos iguales o mayores que los de Irlanda y con tipos en Portugal Telecom, por ejemplo, sólo un poco por encima de los de Telefónica.
            </p>
            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/Blog/Entrada20">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/Blog/Entrada19"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">A Spaniard in Geneva…</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 11 de Junio de 2012</div>

        <img src="~/images/cartesio-geneva.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>We were in Geneva visiting fellow Swiss fund managers. We felt a bit like a Greek fund manager doing a roadshow in Frankfurt but we expected that anyway. Spain is the pits and from my in-laws in Ecuador to my friends from my university days in the UK, that look of compassion tinged with apprehension has become all too familiar. Never mind our exposure to Spain is practically non-existent in one of our funds and restricted to quality credits (difficult to convince about Spanish quality in Geneva these days) in the other.
             </p>
            <p>
                We confirmed that bearishness is rife but we were surprised to see so much fear. A client told us about a Swiss institutional account giving instructions to sell everything and willing to lock in guaranteed negative returns in short term Swiss debt, guaranteed to be even more negative after management fees. Why not put the money on deposit with a Swiss bank? The Swiss institution was scared of its own banks! For a second we felt incredibly brave, patriotic and stupid with our money in our bank accounts back home.
            </p>
            <p>
                It was Buffett who said that about being greedy when others are fearful etc. Geneva was as pleasant and reassuringly expensive as usual but its financial guardians were as bearish and scared as never before. Be greedy and buy Europe. Or as Steve Jobs said Stay hungry. Stay foolish…and run some career risk. We are doing it.
            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/Blog/Entrada18"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Career risk…</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 8 de Junio de 2012</div>

        <img src="~/images/career-risk.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                Hay frases y gestos  que se van quedando grabadas en la vida profesional de un inversor y que marcan grandes errores y aciertos. Todos sabemos lo que dice Warren Buffett, “when people are greedy, be fearful and when people are fearful, be greedy” y lo difícil que puede ser ponerlo en práctica. La frase “no puedo más” suele también aparecer en los momentos críticos cuando las pérdidas han superado todas las expectativas y se pone en peligro la integridad patrimonial de uno. La economía es una ciencia social que estudia el comportamiento humano dentro de unas restricciones o pautas que sí tienen peso científico puro (oferta y demanda, ahorro e inversión etc). Tanto en economía como en inversiones los grandes errores y aciertos tienen un componente de comportamiento humano que nunca deja de sorprender por su capacidad para actuar de forma irracional (por ejemplo,  la vivienda nunca baja de precio o vendo toda mi cartera de bolsa porque el mercado se va a cero).
            </p>
            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/Blog/Entrada18">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="content">
        <a href="/Blog/Entrada17"><p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">El euro no se rompe. ¿Acto de fe o acto racional?</h1></p></a>

        <div style="text-align:right !important; margin-bottom: 20px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 28 de Mayo de 2012</div>

        <img src="~/images/el-euro-no-se-rompe.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">
        <div>
            <p>
                Desde que empezó la llamada “crisis del Euro” a principios del 2010, hemos mantenido una línea de pensamiento y actuación basada en tres principios fundamentales. Primero, cualquier apoyo o financiación a los países con problemas va a ser condicional, es decir a cambio de reformas y ajustes. Estos ajustes serían duros pero inevitables y con efectos negativos en la actividad económica a corto plazo. Segundo, a la hora de invertir en los países periféricos había que hacerlo a través de crédito, principalmente de empresas con deudas asumibles y por tanto solventes y evitando deuda pública, especialmente en Grecia, Irlanda o Portugal. Esta opción implica mayor riesgo que invertir en créditos más seguros de países o empresas del norte de Europa pero pensamos que a largo plazo también mucha más rentabilidad. Tercero, el Euro no se rompe porque el coste de romperlo es infinitamente superior para todos que llegar a soluciones creíbles y sostenibles en el tiempo.
            </p>
            <p>
                <div class="ver_mas" style="text-align:right !important;"><a href="/Blog/Entrada17">Seguir leyendo</a></div>

            </p>

        </div>

    </div>

    <br /><br /><br />

    <div class="center">
        <ul class="pagination">
            <li><a href="/Blog/index2">«</a></li>
            <li><a href="/Blog/index">1</a></li>
            <li><a href="/Blog/index2">2</a></li>
            <li><a class="active" href="/Blog/index3">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>


</div>