@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Nueve años de Cartesio…</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 29 de Abril de 2013</div>
        </div>


        <img src="~/images/cartesio-comienzos.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <p>
            El 31 de Marzo del 2013 Cartesio y sus dos fondos han cumplido nueve años. El que seamos una pequeña empresa que le ha tocado vivir dos terceras partes de su vida bajo la sombra alargada de la crisis, hace que tengamos cierta tendencia a celebrar los cumpleaños como una forma de pellizcarnos y comprobar de que efectivamente seguimos vivos y coleando.
        </p>
        <p>
            Lo primero que celebramos es que lo que dijimos que íbamos a hacer  y los principios que nos iban a guiar no han cambiado un ápice. Dijimos sólo dos fondos y sólo gestión. Dijimos comisiones bajas y ligadas a la rentabilidad obtenida, transparencia total y un objetivo de gestión basado en la rentabilidad-riesgo y con una gestión activa. Éramos tres socios con todo nuestro patrimonio financiero invertido exclusivamente en los dos fondos. Creíamos que nuestros incentivos eran únicos en el sector.    
              </p>

        <p>
            Todo sigue igual, salvo que empezamos con menos de cinco millones de Euros de nuestro dinero  y hoy gestionamos  trescientos treinta millones y tenemos mil seiscientos partícipes que invierten con nosotros. Aunque hoy seamos una de las gestoras independientes más “grandes” y reconocidas en España, seguimos siendo conscientes que somos parte del “micro-plancton” financiero español y  creemos  que nos queda mucho camino por recorrer para sentirnos realmente consolidados. Seguimos luchando en una industria dominada por los bancos desde el punto de la distribución y donde son las gestoras extranjeras las que ganan cuota de mercado. Los molinos contra los que luchamos no han cambiado desde que empezamos, sólo que nos hemos hecho un hueco y nos seguimos viendo como un molino muy distinto de los demás.
        </p>

        <p>
            Aunque los mimbres e incentivos de Cartesio sean muy distintos de los de la industria y pensemos que nos ayudan a gestionar mejor, al final ésta es una industria donde el valor liquidativo y la rentabilidad obtenida son claves en el éxito o el fracaso de un fondo. Al tener sólo dos fondos, no tenemos  una gama de fondos donde escabullirnos o proponer alternativas a nuestros clientes. WYSIWYG (What You See Is What You Get). Los resultados nos han acompañado y, además, creemos que los dos fondos tienen un carácter demostrado por su evolución en ciclos completos que hacen que el cliente “sabe lo que compra” cuando invierte con nosotros.
        </p>

        <p>
            Los resultados de los fondos en estos nueve años se pueden comprobar en los informes mensuales que publicamos en nuestra web pero resumimos aquí lo más importante. Los dos fondos han cumplido con creces su objetivo de inversión, obteniendo una rentabilidad-riesgo superior a sus índices de referencia. En el caso de Cartesio X lo ha hecho contra el mejor activo en rentabilidad riesgo de los últimos nueve años, la deuda pública a largo plazo de la zona Euro. Ambos fondos se encuentran por encima de los máximos de Junio del 2007, en máximos desde inicio y han obtenidos rentabilidades anuales (5,39% Cartesio Y; 4,9% Cartesio X) superiores a la inflación y la liquidez. Morningstar les da a ambos fondos la máxima calificación cualitativa (Gold) y clasifica a Cartesio X con cinco estrellas (máxima calificación cuantitativa) y a Cartesio Y con cuatro estrellas.
        </p>

        <p>
            Terminamos con tres fotos del túnel del tiempo. Marzo del 2004. Ojo a las borriquetas con las que empezamos, las sillas plegables de director y, sobre todo a las pantallas de última generación y esos inefables NOKIA (precio de la acción €16,6…)
        </p>

    </div>
</div>