@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">¿Qué nos dijo Bernanke ayer?</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 19 de Diciembre de 2013</div>
        </div>

        <img src="~/images/bernanke.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

        <p>Sigue la política de “whatever it takes”. En otras palabras, la FED va a seguir poniendo toda la carne en el asador para que siga mejorando el desempleo, incluyendo el subempleo, y no tiene ningún problema con la inflación que cree va a seguir baja. Los objetivos de inflación y desempleo se convierten en umbrales para darse más flexibilidad si cabe a la hora de mantener una política monetaria acomodaticia y asegurarse una recuperación económica sólida y sostenible. Riesgos: que las cosas vayan mucho mejor antes de lo esperado en empleo y, por el contrario, peor de lo esperado y antes en inflación (más alta). No parece ser el escenario base de los integrantes de la FED. </p>
        <p>
            El mensaje para los mercados es positivo. La FED certifica que la economía americana sigue recuperando y con menos riesgos a la baja. Además se asegura un mayor margen de maniobra para evitar que los tipos suban más y antes de lo deseable, algo que preocupa a los mercados como pudimos ver en Mayo. La anómala corrección de Diciembre, desde nuestro punto de vista fruto de la excepcional subida de los tres meses previos que suelen ser difíciles para las bolsas, parece haber tocado fondo y los mercados encaran el 2014 con menos dudas de cara a la política monetaria americana.
        </p>
    </div>

</div>