@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">La renta fija ya es fija…</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 25 de Enero de 2013</div>
        </div>

        <img src="~/images/renta-fija.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <p>
            Las tres últimas décadas han sido muy buenas para la renta fija en general. Cada parte del mercado de renta fija ha tenido su momento más o menos estelar pero en general ha habido varios factores que explican su buen comportamiento. La fuerza de unos tipos de intervención a la baja hasta llegar al cuasi cero actual, una inflación a la baja hasta estabilizarse en niveles de alrededor del 2% en distintos regímenes de crecimiento económico o de precio de las materia primas, la crisis de crédito unida al envejecimiento de la población y cambios regulatorios en las compañías de seguros/fondos de pensiones ha producido demanda casi forzada de rendimientos “seguros” en detrimento de activos de riesgo como la renta variable casi con independencia de la valoración de ésta última. En los últimos  dos/tres años la renta fija pisó el acelerador y ha dado rentabilidades muy altas a los inversores partiendo de cupones o rendimientos iniciales cada vez más bajos. Se ha convertido en una fuente de plusvalías y no tanto de cupones, algo más típico de la bolsa en mercados alcistas.
        </p>
        <p>
            Creemos que la dinámica en renta fija cambiará a partir de ahora. Primero porque la barrera del cero es muy poderosa. Una vez que un bono llega a una TIR a vencimiento en el entorno del 0-2% donde está la mayoría del universo “investment grade” y gobierno ( ex periferia en ambos casos) a plazo de hasta cinco años o más, es posible que no se pierda dinero si los bancos centrales se mantienen en el cero y no hay inflación, pero está claro que la rentabilidad esperada en el corto, medio y largo plazo será muy parecida al 0-2% y probablemente negativa en términos reales.
        </p>
        <p>
            El precio de la renta fija a medio largo plazo está determinado por tres factores. La política monetaria, la inflación y el riesgo crediticio. Esto explica por qué la deuda pública Japonesa haya “aguantado” tipos extremadamente bajos durante muchos años. Esperamos políticas monetarias expansivas para los próximos años. Hay exceso de capacidad en las economías, mucha deuda y tendencia a reducirla, poca o ninguna presión salarial y por tanto es previsible que sigamos con una inflación baja. Hay mucha liquidez en el sistema, el sector privado sigue reduciendo deuda y los gobiernos más díscolos están en una fase de consolidación fiscal y por tanto es previsible que el riesgo crediticio siga bajo. Por todos estos factores no estamos diciendo que estamos al borde de una espiral alcista en los tipos de interés, sólo que los precios ya reflejan en gran parte estos factores, que las cosas difícilmente pueden ir mejor para el activo y que hay una alternativa en renta variable bastante infraponderada por los inversores, con una valoración atractiva (sobre todo en Europa) y que puede actuar de contrapeso si la renta fija se da la vuelta.
        </p>

    </div>
</div>
