
@{
    ViewBag.Title = "glosario";
}

<div id="glosario" class="wrapper">
    <h1>Glosario</h1>
    <div class="content">
        <div class="left">
            <h3 class="titulo">Beta</h3>
            <div id="beta">
                <h2 class="titulo">Beta</h2>
                <div class="definicion">
                    <p>En nuestro informe mensual lo usamos como una medida de la sensibilidad del fondo a movimientos en la bolsa europea. Se expresa como un coeficiente y mide de una forma orientativa cuanto debería variar el valor liquidativo en función de una determinada subida / bajada de la bolsa. Ejemplo: si la beta del Cartesio Y es 0,5, se debería esperar que el fondo suba (baje) un 0,5% por cada 1% de subida (bajada) en la bolsa.</p>
                </div>
            </div>
            <h3 class="titulo">Bloomberg</h3>
            <div id="bloomberg">
                <h2 class="titulo">Bloomberg</h2>
                <div class="definicion">
                    <p>Es el sistema profesional de información financiera de referencia. Los fondos Cartesio tienen un código en el sistema que permite obtener abundante información sobre los mismos.</p>
                </div>
            </div>
            <h3 class="titulo">Capitalización</h3>
            <div id="capitalizacion">
                <h2 class="titulo">Capitalización</h2>
                <div class="definicion">
                    <p>Es el valor en bolsa de una empresa, normalmente expresado en miles de millones de euros. Es el producto de multiplicar el precio de la acción en el mercado por el número de acciones en circulación. Clasificamos las empresas que tiene en cartera el fondo en función de su capitalización bursátil, distinguiendo entre grandes, <br />medianas y pequeñas.</p>
                </div>
            </div>
            <h3 class="titulo">Comisión de Gestión</h3>
            <div id="comision_gestion">
                <h2 class="titulo">Comisión de Gestión</h2>
                <div class="definicion">
                    <p>Es lo que cobra la gestora del fondo (en nuestro caso Cartesio Inversiones SGIIC SA) a los partícipes por la gestión. Los fondos Cartesio tienen una comisión fija anual que es un porcentaje del patrimonio del fondo y otra variable (no en el caso del Cartesio Equity/Income), que es un porcentaje de la rentabilidad obtenida en el año natural. Ambas comisiones se calculan diariamente y están reflejadas en el valor liquidativo del fondo. Si la rentabilidad obtenida en el año es negativa la comisión variable es cero y sólo empieza a reflejarse de nuevo en el valor liquidativo cuando el fondo recupere las pérdidas para lo cual existe un plazo de tres años; a partir del tercer año se inicia un nuevo ciclo de comisión variable ligada a la retabilidad obtenida</p>
                </div>
            </div>
            <h3 class="titulo">Depositario</h3>
            <div id="depositario">
                <h2 class="titulo">Depositario</h2>
                <div class="definicion">
                    <p>Es la institución financiera que en la que se depositan los activos del fondo siendo responsable también de todos los movimientos de títulos y efectivo en el fondo, incluyendo suscripciones y reembolsos. Es totalmente independiente de la Gestora. La comisión de depósito se calcula diariamente y está deducida del valor liquidativo diario del fondo.</p>
                </div>
            </div>
            <h3 class="titulo">Distribución activos</h3>
            <div id="distribucion_activos">
                <h2 class="titulo">Distribución activos</h2>
                <div class="definicion">
                    <p>Es el porcentaje que tiene el fondo en cada uno de los tres activos en los que invierte: renta variable, renta fija y liquidez.</p>
                </div>
            </div>
            <!---->
            <h3 class="titulo">Distribución Sectorial</h3>
            <div id="distribucion_sectorial">
                <h2 class="titulo">Distribución Sectorial</h2>
                <div class="definicion">
                    <p>Es el porcentaje, dentro de la cartera de bolsa invertida, que el fondo tiene en cada uno de los diez sectores que componen el índice de bolsa europea que tenemos como referencia (Morgan Stanley Pan European Index). En los informes mensuales ponemos también el peso de cada sector en el índice a efectos informativos.</p>
                </div>
            </div>
            <h3 class="titulo">Índice</h3>
            <div id="indice">
                <h2 class="titulo">Índice</h2>
                <div class="definicion">
                    <p>Es un valor estadístico que refleja el valor total de sus componentes. En los informes usamos un índice de referencia para la bolsa Europea (Morgan Stanley Pan European Index) y otro para la deuda pública a largo plazo de la zona Euro (Bloomberg/EFFA Deuda Pública Zona Euro 7-10 años). El objetivo de inversión de los fondos Cartesio es obtener una mejor rentabilidad- riesgo a largo plazo que estos índices, usando un índice diferente para cada fondo.</p>
                </div>
            </div>
            <h3 class="titulo">ISIN</h3>
            <div id="isin">
                <h2 class="titulo">ISIN</h2>
                <div class="definicion">
                    <p>International Securities Identification Number. Es un código estándar internacional para identificar instrumentos financieros. Es una combinación alfanumérica de doce caracteres, los dos primeros identificando el país emisor (ES para España). Los dos fondos Cartesio tienen su código ISIN.</p>
                </div>
            </div>
            <h3 class="titulo">M2</h3>
            <div id="m2">
                <h2 class="titulo">M2</h2>
                <div class="definicion">
                    <p>Una medida de rentabilidad-riesgo que, expresada en porcentaje, da la rentabilidad teórica en caso de haber asumido el mismo nivel de riesgo (volatilidad) que el índice. Creemos que es una medida más intuitiva que el ratio de Sharpe (todos sabemos lo que es una rentabilidad alta o baja).</p>
                </div>
            </div>
            <h3 class="titulo">Rentabilidad - Riesgo</h3>
            <div id="rentabilidad_riesgo2">
                <h2 class="titulo">Rentabilidad - Riesgo</h2>
                <div class="definicion">
                    <p>Todos queremos el máximo de rentabilidad con el mínimo de riesgo. El único activo sin riesgo es la liquidez. El riesgo se mide con la volatilidad, a mayor volatilidad mayor riesgo de pérdida. Las dos medidas de rentabilidad-riesgo que ponemos en los informes mensuales de los fondos, el ratio de Sharpe y el M2, usan la rentabilidad obtenida por el fondo y lo comparan con la rentabilidad ofrecida por la liquidez y la volatilidad incurrida para obtener esa rentabilidad.</p>
                </div>
            </div>
            <h3 class="titulo">Sharpe</h3>
            <div id="sharpe">
                <h2 class="titulo">Sharpe</h2>
                <div class="definicion">
                    <p>Medida de rentabilidad-riesgo que se obtienen dividiendo el exceso de rentabilidad de un activo respecto al activo sin riesgo (la liquidez) entre su volatilidad. Un ratio de Sharpe a largo plazo por encima de uno es excepcional. La bolsa a largo plazo tiene un ratio de Sharpe de alrededor de 0.3.</p>
                </div>
            </div>
            <h3 class="titulo">Valor Liquidativo</h3>
            <div id="valor_liquidativo">
                <h2 class="titulo">Valor Liquidativo</h2>
                <div class="definicion">
                    <p>Es el resultado de valorar los activos del fondo a precios de mercado descontando todas las comisiones y gastos. Se calcula diariamente.</p>
                </div>
            </div>
            <h3 class="titulo">V.A.R.</h3>
            <div id="var">
                <h2 class="titulo">V.A.R.</h2>
                <div class="definicion">
                    <p>Value at Risk. Mide la pérdida máxima esperada (con un intervalo de confianza del 95%) del fondo en un período. Se calcula a partir <br />de la volatilidad.</p>
                </div>
            </div>
            <h3 class="titulo">Volatilidad</h3>
            <div id="volatilidad">
                <h2 class="titulo">Volatilidad</h2>
                <div class="definicion">
                    <p>Es la desviación típica del valor liquidativo diario del fondo. Se expresa en términos anualizados. Es una medida de riesgo. A mayor desviación típica mayor probabilidad de que el fondo experimente pérdidas significativas a un año. Los dos fondos Cartesio tienen hasta la fecha una volatilidad que se puede considerar moderada (Cartesio Y) <br />o baja (Cartesio X).</p>
                </div>
            </div>

        </div>
        <div class="right">

            <h3>Términos</h3>

            <ul>

                <li><a href="#beta">Beta</a></li>
                <li><a href="#bloomberg">Bloomberg</a></li>
                <li><a href="#capitalizacion">Capitalización</a></li>
                <li><a href="#comision_gestion">Comisión de Gestión</a></li>
                <li><a href="#distribucion_activos">Distribución Activos</a></li>
                <li><a href="#distribucion_sectorial">Distribución Sectorial</a></li>
                <li><a href="#indice">Índice</a></li>
                <li><a href="#isin">ISIN</a></li>
                <li><a href="#m2">M2</a></li>
                <li><a href="#rentabilidad_riesgo2">Rentabilidad - Riesgo</a></li>
                <li><a href="#sharpe">Sharpe</a></li>
                <li><a href="#valor_liquidativo">Valor liquidativo</a></li>
                <li><a href="#var">V.A.R.</a></li>
                <li><a href="#volatilidad">Volatilidad</a></li>


            </ul>


        </div>

        <div class="clear">
            <a class="imprimir" onclick="window.print();">Imprimir Glosario completo</a>
        </div>
    </div>


</div>

@section scripts{
    <script>

			$(function() {
				$( "#glosario" ).tabs({ active: 0}, { show: { effect: "fade", duration: 1000 } });

				$( "#glosario .left" ).accordion({ header: "h3", heightStyle: "content", collapsible: true });

				if($(window).width() < 598){
					$('#glosario .left')
						.off('click')
					.click(function(){
						$(this).next().toggle('fast');
					});

				}

			});
</script>

}