
@{
    ViewBag.Title = "legal";
}

<div id="legal" class="wrapper">
    <h1>Legal</h1>
    <div class="content">
        <div class="left">
            <p>Cartesio S.G.I.I.C. S.A. es una gestora de fondos de inversión inscrita, con el número 221, el 21 de Septiembre de 2007 en el registro de Sociedades Gestoras de Instituciones de Inversión Colectiva de la Comisión Nacional del Mercado de Valores. Cartesio SGIIC, SA fue inscritael 23 de Julio de 2007 en el libro 0, folio 7, sección 8, hoja M-346062 del Registro Mercantil de Madrid.</p>
        </div>
        <div class="right">

            <h3>Información general</h3>
            <a class="pdf_descarga" href="~/Docs/legal/Cartesio_Reglamento.pdf" target="_blank">Reglamento Interno de Conducta <span class="light_grey">|PDF|1.5 MB </span></a>
            <a class="pdf_descarga" href="~/Docs/legal/Anexo%20CI-07-II%20-%20Dossier%20para%20la%20defensa%20del%20cliente%20-%20Web.pdf" target="_blank">Reglamento para la defensa del Cliente <span class="light_grey">|PDF|1.5 MB </span></a>
            <a class="pdf_descarga" href="~/Docs/legal/Clausula%20Web.pdf" target="_blank">Información y protección de datos <span class="light_grey">|PDF|1.5 MB </span></a>
            <a class="pdf_descarga" href="~/Docs/Memoria%20Anual%202016%20-%20CX.pdf" target="_blank">Memoria anual 2016 CX <span class="light_grey">|PDF|1.6 MB </span></a>
            <a class="pdf_descarga" href="~/Docs/Memoria%20Anual%202016%20-%20CY.pdf" target="_blank">Memoria anual 2016 CY  <span class="light_grey">|PDF|1.4 MB </span></a>

        </div>
        <div class="clear">
            <a class="imprimir" onclick="window.print();">Imprimir</a>
        </div>
    </div>

</div>		