<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">CARTESIO X – El mixto defensivo más rentable a largo plazo</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 13 de Julio de 2015</div>

        </div>

        <img src="~/images/cartesio-x-expansion.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <p>
            Nos hacemos eco del artículo publicado por el Diario Expansión el pasado 13 de Julio. En el mismo se reproduce una tabla con los fondos en la categoría Mixtos Defensivos Euro de gestoras españolas con la mejor rentabilidad en la última década, así como a cinco y tres años. Cartesio X ocupa el primer puesto en rentabilidad a 10 y 5 años y está entre los primeros a 3 años y doce meses. Invertimos a largo plazo y siempre hemos sido de la opinión que el comportamiento de nuestros fondos debe analizarse con la misma óptica. Los últimos diez años son especialmente importantes porque recogen tanto la crisis financiera del 2008 como la crisis del Euro del 2010-12. En esos años muchos inversores y fondos se han dejado por el camino mucha rentabilidad, fruto de decisiones equivocadas en momentos clave. Cartesio X está en zona de máximos históricos y lo poco que perdió durante esas crisis se recuperó en poco tiempo.
        </p>

        <p>
            <div class="ver_mas" style="text-align:right !important;"><a href="~/docs/CartesioX-Rentabilidad.pdf">Ver Artículo</a></div>

        </p>

    </div>

</div>