<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Españoles maniaco-depresivos…</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 9 de Julio de 2013</div>
        </div>

        <img src="~/images/espanoles-maniaco-depresivos.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">


        <p>
            Fue triste ver llegar a la selección española tras su derrota en la Copa Confederaciones en Brasil. Habían llegado a la final, no habían jugado mal en el torneo y es básicamente la misma selección que nos ha hecho sentir que estamos en otro planeta. Sin embargo los jugadores prácticamente huían de la poca gente y periodistas que les estaban esperando. Parece que hemos pasado de estar “on top of the world” a ser un equipillo que tiene que esconderse ante su “estrepitoso fracaso”.
        </p>
        <p>
            Pasa lo mismo con la economía. España quería estar en el G8 y casi que quería pegar un puntapié a Italia. Nuestra creación de empleo y crecimiento económico se basaba en que éramos la California y la Florida de Europa, además nuestras grandes compañías eran más grandes, rentables y buenas que nunca. Ahora somos en todo un desastre sin paliativos. Los políticos no tienen remedio y además nos hemos enterado que roban más de lo que creíamos. Ni la vivienda, ni el IBEX, ni el paro, ni el PIB, ni la prima de riesgo tienen fondo. Si es que se veía venir.
        </p>
        <p>
            Tenemos una manía y un desacierto especial para pasar de la euforia más absoluta (oé, oé, oeeee) a la desesperación y el pesimismo más brutal (esto no hay Dios que lo arregle). Esto no nos pasa por ser del sur de Europa. Los italianos son unos cínicos muy finos y muy graciosos. Siempre han sabido que tienen un país complejo con grandes debilidades institucionales pero también gran capacidad de ingenio privado, improvisación y saben ganarse los cuartos fuera vendiendo producto e imagen. Los portugueses son buena gente, humildes y trabajadores que sabían que vivían del cuento pero es que les dejaban. Los griegos son un caos y saben que están en Europa casi de prestado y “por ser vos quien sois”. Los irlandeses no son del sur pero son los gitanos del norte de Europa, son unos tipos duros con una historia tétrica que son capaces de todo para salir adelante, emigrando la mitad del país si hace falta. Sólo los españoles nos creímos lo que fuimos hasta adentro, en una manía optimista sin precedentes  y por tanto ahora nos vamos al polo opuesto de un pesimismo que no ve la salida por ningún sitio.
        </p>
        <p>
            Es la hora de crecer emocionalmente y de llamar al pan, pan y al vino, vino. Lo bueno es que partes de la economía y de la sociedad ya lo están haciendo. Tenemos que desterrar este comportamiento maniaco depresivo que no hace más que exagerar los puntos álgidos y glaciales de nuestro ciclo económico y vital. Somos un gran país, pero tenemos que ser infinitamente más prácticos, trabajadores y algo más fríos en momentos buenos y malos. La próxima vez la selección española tiene que hacer una rueda de prensa en Barajas y luego reunirse con un montón de chavales en la Ciudad Deportiva de Las Rozas dándoles las gracias por su apoyo y firmando camisetas. Sólo entonces se pueden ir de vacaciones. España ahora no va bien pero estamos seguros de que irá mejor y probablemente antes de que los maníaco-depresivos nos hundan.
        </p>

    </div>
</div>