<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Fondos Cartesio: 2 entre 20.000</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 25 de Julio de 2017</div>

        </div>

        <div>
            <img src="~/images/blog1.png" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

            <p>
                Artículo de Funds People en el que se destaca que de los 20.000 fondos de inversión registrados para su venta en España, sólo hay dos fondos de gestoras españolas con el rating GOLD de Morningstar. Los fondos Cartesio (X e Y). De hecho, al incluir en la lista de 18 fondos con ranking GOLD la réplica en Luxemburgo de nuestros fondos, en realidad Cartesio gestiona cuatro de los dieciocho fondos con rating GOLD comercializados en España.
            </p>
            <p>
                El artículo explica que la importancia de un rating GOLD radica en que es un buen predictor del comportamiento del fondo a futuro, más allá del rating cuantitativo de estrellas MORNINGSTAR.
            </p>
            <p>
                <a href="https://es.fundspeople.com/news/fondos-banados-en-oro-de-los-que-se-espera-que-generaran-alfa-d1bb466b-f95b-42dc-9380-be685796ba26">Más Información</a>

            </p>

        </div>
    </div>

</div>