<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Bolsa y crédito español se divorcian… por poco tiempo</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 28 de Junio de 2012</div>
        </div>

        <img src="~/images/bolsa-y-credito.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

        <p>
            Estamos asistiendo este Junio de la Eurocopa a una divergencia muy fuerte entre la evolución de la bolsa Española, un 9% arriba, y el crédito, deuda pública y en especial corporativa, que está con diferenciales en máximos  respecto al bono alemán y en CDS. Como ejemplo vemos que el CDS  de  cinco años de Telefónica está en 558 bps, máximo histórico, y su bono cotiza al 7% (5% a finales de Mayo) mientras la acción ha subido un 9% en el mes. Es verdad que la bolsa española o Telefónica llevan arrastrando caídas muy superiores durante más tiempo y que el mercado está empezando a descontar un posible rescate de España con tipos iguales o mayores que los de Irlanda y con tipos en Portugal Telecom, por ejemplo, sólo un poco por encima de los de Telefónica.
        </p>
        <p>
            Está claro que ni el fondo ni la forma de la política económica española convence a propios o extraños y que por mucho que echemos la culpa a Europa nos queda mucho por hacer y demostrar. Creemos que las rentabilidades actuales de la renta fija de grandes empresas con una significativa presencia de activos y cash flow en el exterior (Telefónica, Repsol, Gas Natural, Iberdrola, BBVA, Santander) son una gran oportunidad de inversión y están demasiado contaminados por la prima de riesgo española. También creemos que la bolsa no puede seguir subiendo si el crédito de nuestras empresas y de nuestro gobierno mantiene la evolución que estamos viendo estos días.
        </p>

    </div>
</div>