<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Career risk…</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 8 de Junio de 2012</div>
        </div>

        <img src="~/images/career-risk.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

        <p>
        Hay frases y gestos  que se van quedando grabadas en la vida profesional de un inversor y que marcan grandes errores y aciertos. Todos sabemos lo que dice Warren Buffett, “when people are greedy, be fearful and when people are fearful, be greedy” y lo difícil que puede ser ponerlo en práctica. La frase “no puedo más” suele también aparecer en los momentos críticos cuando las pérdidas han superado todas las expectativas y se pone en peligro la integridad patrimonial de uno. La economía es una ciencia social que estudia el comportamiento humano dentro de unas restricciones o pautas que sí tienen peso científico puro (oferta y demanda, ahorro e inversión etc). Tanto en economía como en inversiones los grandes errores y aciertos tienen un componente de comportamiento humano que nunca deja de sorprender por su capacidad para actuar de forma irracional (por ejemplo,  la vivienda nunca baja de precio o vendo toda mi cartera de bolsa porque el mercado se va a cero). 
        </p>
        <p>
            Últimamente estamos oyendo otra vez en nuestras conversaciones con profesionales del mercado una frase que siempre la hemos oído en el pasado en momentos críticos que, ex post, fueron grandes oportunidades de compra.  La frase, en ingles, sí hablamos con mucho extranjero, es “career risk”. No invierto o hago algo que creo puede tener sentido porque me juego mi carrera profesional. Hay oportunidades de inversion en España o Europa, pero representan un “career risk” en muchas instituciones. Los políticos no suelen decir esto en alto pero claramente lo piensan, de lo contrario no se explica que reformas y decisiones difíciles pero necesarias no se tomen muchas veces.
        </p>
        <p>
            Cuando los profesionales de la inversión se escudan en el miedo a perder su puesto de trabajo y los políticos hacen lo mismo, creo podemos decir que hemos llegado a un momento Buffett…
        </p>

    </div>
</div>