<div id="cambiar_contrasena" class="wrapper">
    <div class="content" style="text-align:justify !important;">

        <!--INICIO CABECERA-->
        <div id="header" style="margin-bottom: 30px !important;">
            <p><h1 style="line-height: 55px !important; margin-bottom: 30px !important;">Marea de Bolsa</h1></p>
            <br /><br />
            <div style="text-align:right !important; margin-bottom: 10px !important; font-size: 13px; color: #666; font-family: 'Open Sans', sans-serif; font-weight: 400">Fecha de publicación 7 de Noviembre de 2013</div>
        </div>

        <img src="~/images/marea-de-bolsa-imagen.jpg" style="width: 100% !important; height:auto !important; margin-bottom: 30px !important;">

       <p>
           Artículo publicado en el número de Octubre de 2013 de la revista Fundspeople.
       </p>

        <p>
            <div class="ver_mas" style="text-align:right !important;"><a href="~/docs/Marea-de-Bolsa.pdf">Ver artículo completo</a></div>

        </p>

    </div>

</div>