
@{

    Layout = "~/Views/Shared/_LayoutCarteraEn.cshtml";
}

<script language="javascript">
    function Comprueba(f) {
        var elemento_4 = document.getElementById("mensaje_error");
        elemento_4.innerHTML = '';
        var tipo_error;
        if ((f.contrasena_antigua.value == "") || (f.contrasena_nueva.value == "")) {
            tipo_error = document.createTextNode("Please, complete all the form fields.");
            elemento_4.appendChild(tipo_error);
            elemento_4.style.visibility = 'visible';
            f.contrasena_antigua.focus();
            return;
        }
        if (f.contrasena_nueva.value != f.contrasena_nueva_confirm.value) {
            tipo_error = document.createTextNode("");
            elemento_4.appendChild(tipo_error);
            tipo_error = document.createTextNode("Passwords do not match.");
            elemento_4.appendChild(tipo_error);
            elemento_4.style.visibility = 'visible';
            f.contrasena_nueva.focus();
            return;
        }
        lonClave = (f.contrasena_nueva.value).length;
        if ((lonClave < 6) || (lonClave > 12)) {
            tipo_error = document.createTextNode("");
            elemento_4.appendChild(tipo_error);
            tipo_error = document.createTextNode("Please make sure that the new password has a length between 6 and 12 characters.");
            elemento_4.appendChild(tipo_error);
            elemento_4.style.visibility = 'visible';
            f.contrasena_nueva.focus();
            return;
        }

        var nif = "@(Session["nif"])";

        var params = "usuario=" + nif + "&clave=" + f.contrasena_nueva.value;

        $.ajax({
            url: "/Home/ajaxpassword",
            data: params,
            type: "post",
            dataType: "json",
            success: function (resul) {
                $("#visorMensajes").html(resul.mensaje);
                if (resul.codigo_error == "0") {
                    window.location = "/En/Index";// + resul.code;
                }
                else {
                    alert(resul.mensaje);
                }
            },
            error: function (a, b, c) {
                $("#visorMensajes").html("Error updating password");
                alert("Error actualizando contraseña.");
            }
        });

        f.submit()
        }

    function config_inicial() {
        var elemento_1 = document.getElementById("pass_antigua");
        elemento_1.className = "";
        var elemento_2 = document.getElementById("pass_nueva");
        elemento_2.className = "";
        var elemento_3 = document.getElementById("pass_nueva_confirmar");
        elemento_3.className = "";
        var elemento_3 = document.getElementById("pass_nueva_confirmar");
        elemento_3.className = "";
        var elemento_4 = document.getElementById("mensaje_error");
        elemento_4.style.visibility = 'hidden';

        /* -- Mostrar texto
        var elemento_4 =document.getElementById("mensaje_error");
        var tipo_error = document.createTextNode("Las contraseñas no coinciden");
        elemento_4.appendChild(tipo_error);
        */
    }
</script>

<div id="cambiar_contrasena" class="wrapper">
    <h1>Change Password</h1>
    <div class="content">
        <div class="left">
            <form name="form1" method="post" action="/En/Index">
                <input id="pass_antigua" placeholder="Password" type="password" name="contrasena_antigua" class="">
                <input id="pass_nueva" placeholder="New password" type="password" name="contrasena_nueva" class="">
                <input id="pass_nueva_confirmar" placeholder="Confirm password" class="" type="password" name="contrasena_nueva_confirm">
                <p class="error_contrasena" id="mensaje_error" style="visibility: hidden;"></p>
                <!--<input class="disable" type="button" value="Enviar" name="enviar"/>-->
                <input type="hidden" name="guardar" value="1">
                <input type="button" onclick="Comprueba(document.forms[0]);" value="Send" name="enviar">
            </form>
        </div>
        <div class="right">
            <p>The password must contain between 6 and 12 characters. If you wish to modify it, enter your current password, your new password and confirm the change by writing it again.</p>

            <ul>
                <li class="correo"><a href="mailto:info@cartesio.com">info@cartesio.com</a></li>
                <li class="telefono">91 310 62 40 </li>
            </ul>

        </div>

    </div>


</div>