@model CartersioLibreria.View_listaGestionUsuarios

@{
    ViewBag.Title = "GrupoTitularidadLista";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="result">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Listado Grupos Titularidad</h1>


        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->

        <form id="CartesioX" onsubmit="return false;">


            <h1>Seleccionar cliente </h1>

            <div class="row-grupo">

                <div class="row">
                  
                        <div class="titulo-odm">
                            @*<h2 class="verde">Cartesio X</h2>*@
                        </div>

                        <div class="form-group col-md-4">
                            <label for="cx_fecha_calculo">NIF:</label>
                            @Html.EditorFor(model => model.nif , new { htmlAttributes = new { @class = "form-control  " } })
                            @*@Html.EditorFor(model => model.cx_fecha_calculo.Value.ToShortDateString() , new { htmlAttributes = new { @class = "form-control datepicker" , @placeholder = "dd/mm/yyyy" } })*@
                        </div>
                        <div class="form-group col-md-4">
                            <label for="cx_fecha_calculo">Apellidos:</label>
                            @Html.EditorFor(model => model.apellidos , new { htmlAttributes = new { @class = "form-control  " } })
                            @*@Html.EditorFor(model => model.cx_fecha_calculo.Value.ToShortDateString() , new { htmlAttributes = new { @class = "form-control datepicker" , @placeholder = "dd/mm/yyyy" } })*@
                        </div>
                        <div class="form-group col-md-4">
                            <br />
                            <button type="submit" class="btn btn-primary form-control">Buscar</button>
                        </div>
                   
                </div>
            </div>
           </form>



            <div class="row row-odm row-grupo">
                <div id="TablaValores" style="width: 100%;">

                </div>
            </div>

</div>

    @section scripts{

        <script>
            $('#GrupoTitularidadLista').addClass("active");
            CargarTabla();
            function CargarTabla() {
              //  var parametros = "&nif=" + $("#nif").val() + "&apellidos=" + $("#apellidos").val() + "";




                var txtapellidos = $("#apellidos").val();
                var txtdni = $("#nif").val();
               


                $.ajax({
                    type: "POST",
                    url: "/Admin/_GridGrupoTitularidadLista",
                    data: '{apellidos:"' + txtapellidos + '",nif:"' + txtdni + '"}',
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        $("#TablaValores").html(data);
                        overrideGrid();
                    },
                    failure: function (response) {
                        alert(response.d);
                    }
                }).done(function () {
                });






            }




            function overrideGrid() {
                $("#gridValores  a").not(".listado-ver").click('click', function (event) {
                    if (!$(this).hasClass("listado-ver")) {
                        event.preventDefault();
                        var href = $(this).attr("href");
                        if (href != "#") {
                            $(this).attr("href", "#");



                            var txtapellidos = $("#apellidos").val();
                            var txtdni = $("#nif").val();
                            $.ajax({
                                type: "POST",
                                url: "/Admin/_GridGrupoTitularidadLista",
                                data: '{apellidos:"' + txtapellidos + '",nif:"' + txtdni + '"}',
                                contentType: "application/json; charset=utf-8",

                                success: function (data) {
                                    $("#TablaValores").html(data);
                                    overrideGrid();
                                },
                                failure: function (response) {
                                    alert(response.d);
                                }
                            }).done(function () {
                            });



                        }
                    }
                });
            }
            var formulario = $('Form');

            formulario.on('submit', function (ev) {
                ev.preventDefault();
                CargarTabla();
            });



            function mostrarValores(nif) {
                window.location.href = "/Admin/SeleccionUsuarios?nif=" + nif;
            }

        </script>


    }
</div>